<% provide(:title, 'アカウント編集') %>

<section class="hero is-success">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">アカウント編集</h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-5">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="field">
            <%= f.label :username, class: "label" %>
            <div class="control has-icons-left">
              <%= f.text_field :username, autofocus: true, autocomplete: "email", :placeholder => "username", required: true, class: "input" %>
              <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
              </span>
            </div>
          </div>

          <div class="field">
            <%= f.label :email, class: "label" %>
            <div class="control has-icons-left">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", :placeholder => "email", required: true, class: "input" %>
              <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
              </span>
            </div>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div><%= t('.currently_waiting_confirmation_for_email') %></div>
          <% end %>

          <div class="field">
            <%= f.label :password, class: "label" %>
            <div class="control has-icons-left">
              <%= f.password_field :password, autocomplete: "new-password", :placeholder => "password", minlength: @minimum_password_length, maxlength: "30", class: "input" %>
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
            </div>
            <p class='help has-text-dark'>
              <% if @minimum_password_length %>
                <%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %>
              <% end %>
              <%= t('.leave_blank_if_you_don_t_want_to_change_it') %>
            </p>
          </div>

          <div class="field">
            <%= f.label :password_confirmation, class: "label" %>
            <div class="control has-icons-left">
              <%= f.password_field :password_confirmation, autocomplete: "new-password", :placeholder => "password confirmation", minlength: @minimum_password_length, maxlength: "30", class: "input" %>
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
            </div>
          </div>

          <div class="field">
            <%= f.label :current_password, class: 'label' %>
            <div class="control has-icons-left">
              <%= f.password_field :current_password, autocomplete: "current-password", :placeholder => "current confirmation", required: true, minlength: @minimum_password_length, maxlength: "30", class: 'input' %>
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
            </div>
            <p class='help has-text-dark'><%= t('.we_need_your_current_password_to_confirm_your_changes', count: @minimum_password_length) %></p>
          </div>

          <div class="field">
            <%= f.submit t('.update'), class: 'button is-fullwidth is-primary' %>
          </div>
        <% end %>

        <br />
          <p class="has-text-centered">または</p>
        <br />

        <div class="field">
          <%= link_to t('devise.shared.links.back'), :back, class: 'button is-fullwidth is-link' %>
        </div>

        <div class="field">
          <%= link_to t('.cancel_my_account'), registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'button is-fullwidth is-light' %>
        </div>
      </div>
    </div>
  </div>
</section>
