<h1>アカウント編集</h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email, class: 'label' %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'input' %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password, class: 'label' %>
    <%= f.password_field :password, autocomplete: "new-password", class: 'input' %>
    <p class='help has-text-dark'><%= t('.leave_blank_if_you_dont_want_to_change_it') %></p>
    <% if @minimum_password_length %>
      <p class='help has-text-dark'><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></p>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, class: 'label' %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'input' %>
  </div>

  <div class="field">
    <%= f.label :current_password, class: 'label' %>
    <%= f.password_field :current_password, autocomplete: "current-password", class: 'input' %>
    <p class='help has-text-dark'><%= t('.we_need_your_current_password_to_confirm_your_changes', count: @minimum_password_length) %></p>
  </div>

  <div class="field">
    <%= f.submit  t('update'), class: 'button is-primary' %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to  t('.back'), :back %>
