<% provide(:title, "#{t(".sign_up")}") %>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-5">
        <%= link_to root_path do %>
          <p class="title is-1 has-text-centered mb-6" style="font-family: cursive;">Recipegram</p>
        <% end %>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="field">
            <%= f.label :username, class: "label" %>
            <div class="control has-icons-left">
              <%= f.text_field :username, autofocus: true, autocomplete: "email", :placeholder => "username", required: true, class: "input" %>
              <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
              </span>
            </div>
            <%= render "devise/shared/full_error_messages", model: resource, attribute: :username %>
          </div>

          <div class="field">
            <%= f.label :email, class: "label" %>
            <div class="control has-icons-left">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", :placeholder => "email", required: true, class: "input" %>
              <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
              </span>
            </div>
            <%= render "devise/shared/full_error_messages", model: resource, attribute: :email %>
          </div>

          <div class="field">
            <%= f.label :password, class: "label" %>
          </div>
          <div class="field has-addons password-area">
            <div class="control has-icons-left is-expanded">
              <%= f.password_field :password, autocomplete: "new-password", :placeholder => "password", required: true, minlength: @minimum_password_length, maxlength: "30", class: "input" %>
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
            </div>
            <p class="control password-mask password-mask1">
              <button class="button" onclick="return false;">
                <span class="icon is-small">
                  <i class="far fa-eye-slash"></i>
                </span>
              </button>
            </p>
          </div>
          <div class="field">
            <% if @minimum_password_length %>
              <p class='help has-text-dark'><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></p>
            <% end %>
            <%= render "devise/shared/full_error_messages", model: resource, attribute: :password %>
          </div>

          <div class="field">
            <%= f.label :password_confirmation, class: "label" %>
          </div>
          <div class="field has-addons password-area">
            <div class="control has-icons-left is-expanded">
              <%= f.password_field :password_confirmation, autocomplete: "new-password", :placeholder => "password confirmation", required: true, minlength: @minimum_password_length, maxlength: "30", class: "input" %>
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
            </div>
            <p class="control password-mask password-confirmation-mask">
              <button class="button" onclick="return false;">
                <span class="icon is-small">
                  <i class="far fa-eye-slash"></i>
                </span>
              </button>
            </p>
          </div>
          <div class="field">
            <%= render "devise/shared/full_error_messages", model: resource, attribute: :password_confirmation %>
          </div>

          <div class="field">
            <%= f.submit t('.sign_up'), class: "button is-fullwidth is-rounded is-success", id: "signup", disabled: true %>
          </div>
        <% end %>

        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</section>
