<div class="media">
  <div class="media-left">
    <%= link_to user_path(comment.user) do %>
      <figure class="image is-64x64 is-hidden-mobile">
        <%= image_tag comment.user.user_image.icon.url, class: 'is-rounded' %>
      </figure>
      <figure class="image is-32x32 is-hidden-tablet">
        <%= image_tag comment.user.user_image.icon.url, class: 'is-rounded' %>
      </figure>
    <% end %>
  </div>
  <div class="media-content">
    <%= link_to user_path(comment.user) do %>
      <p class="title is-5 mb-0 text-truncate-container">
        <span class="has-text-grey-darker text-break hover-underline text-truncate-1">
          <%= comment.user.nickname %>
        </span>
      </p>
      <p class="has-text-grey-light mb-3">@<%= comment.user.username %></p>
    <% end %>
    <%= simple_format h(comment.body), class: 'text-break' %>
    <time class="has-text-grey-light" datetime="<%= comment.created_at %>">
      <%= time_ago_in_words(comment.created_at) %>前
    </time>
  </div>
  <% if current_user == comment.user %>
    <div class="media-right">
      <div class="dropdown is-right">
        <div class="dropdown-trigger rspec_comment_dropdown_trigger">
          <button class="button is-white is-small" aria-haspopup="true" aria-controls="dropdown-menu">
            <span class="icon is-small">
              <i class="fa fa-ellipsis-h "></i>
            </span>
          </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu" role="menu">
          <div class="dropdown-content">
            <%= link_to recipe_comment_path(comment.recipe, comment), method: :delete, data: { confirm: '本当にコメントを削除しますか？' }, class: 'dropdown-item' do %>
              <span class="icon">
                <i class="far fa-trash-alt"></i>
              </span>
              <span>削除する</span>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
