<div class="media">
  <figure class="media-left">
    <p class="image is-64x64 is-hidden-mobile">
      <%= link_to user_path(comment.user) do %>
        <%= image_tag comment.user.user_image.url(:icon), class: 'is-rounded' %>
      <% end %>
    </p>
    <p class="image is-32x32 is-hidden-tablet">
      <%= link_to user_path(comment.user) do %>
        <%= image_tag comment.user.user_image.url(:icon), class: 'is-rounded' %>
      <% end %>
    </p>
  </figure>
  <div class="media-content">
    <p class="title is-5 is-1-line mb-0">
      <span><%= link_to comment.user.nickname, user_path(comment.user), title: comment.user.nickname, class: 'has-text-black-bis hover-underline' %></span>
    </p>
    <p class="has-text-grey-light mb-3">@<%= comment.user.username %></p>
    <%= simple_format h(comment.body), class: 'text-break' %>
    <time class="has-text-grey-light" datetime="<%= comment.created_at %>">
      <%= time_ago_in_words(comment.created_at) %>前
    </time>
  </div>
  <% if current_user == comment.user %>
    <div class="media-right">
      <div class="dropdown is-right">
        <div class="dropdown-trigger rspec_comment_dropdown_trigger">
          <button class="button is-white is-small" aria-haspopup="true" aria-controls="dropdown-menu">
            <span class="icon is-small">
              <i class="fa fa-ellipsis-h "></i>
            </span>
          </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu" role="menu">
          <div class="dropdown-content">
              <%= link_to '削除する', recipe_comment_path(comment), method: :delete, data: {confirm: '本当にコメントを削除しますか？'}, class: 'dropdown-item' %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
