<%= form_with model: recipe, class: 'box p-6' do |f| %>
  <div class="field" id="recipe_image_field">
    <label class="label">画像</label>
    <p class='help has-text-dark mb-3'>2MB以下でjpgまたはjpeg、png、webp形式のファイルをアップロードすることができます。</p>

    <div id="image-preview-container">
      <% if action == 'edit' || recipe.recipe_image.cached? %>
        <figure class="image is-400x400 mx-auto">
          <%= image_tag @recipe.recipe_image_url(:preview), width: 400, height: 400 %>
        </figure>
      <% end %>
    </div>

    <div class="control mt-3">
      <%= f.hidden_field :recipe_image_cache %>
      <div class="box has-text-centered has-background-light p-6 drop-zone" id="drop-zone">
        <div>
          <p>ドラッグ＆ドロップ</p>
          <p class="mt-3">または</p>

          <div class="file is-info is-inline-flex is-justify-content-center mt-3">
            <label class="file-label">
              <%= f.cl_image_upload :recipe_image, html: { class: 'file-input', accept: 'image/jpg, image/jpeg, image/png, image/webp', required: recipe_image_required?(action, recipe.recipe_image) } %>
              <span class="file-cta">
                <span class="file-label">
                  画像を選択する
                </span>
              </span>
            </label>
          </div>
        </div>

        <div class="mt-3 is-hidden" id="status-container">
          <progress class="progress is-info" value="0" max="100" id="progress-bar"></progress>
          <span id="status-message"></span>
        </div>
      </div>
    </div>
    <%= render 'shared/full_error_messages', model: recipe, attribute: :recipe_image %>
  </div>

  <div class="field">
    <%= f.label :title, class: 'label' %>
    <div class="control">
      <%= f.text_field :title, required: true, class: 'input' %>
    </div>
    <p class="help has-text-right">
      <span class="<%= 'has-text-danger' if recipe.errors[:title].any? %>" id="count-recipe-title-characters"><%= recipe.title&.size.presence || 0 %></span>/30字
    </p>
    <%= render 'shared/full_error_messages', model: recipe, attribute: :title %>
  </div>

  <div class="field">
    <%= f.label :body, class: 'label' %>
    <div class="control">
      <%= f.text_area :body, required: true, class: 'textarea has-fixed-size resize-textarea js-resize-textarea' %>
    </div>
    <p class="help has-text-right">
      <span class="<%= 'has-text-danger' if recipe.errors[:body].any? %>" id="count-recipe-body-characters"><%= recipe.body&.size.presence || 0 %></span>/2000字
    </p>
    <%= render 'shared/full_error_messages', model: recipe, attribute: :body %>
  </div>

  <div class="field">
    <%= f.label :tag_list, class: 'label' %>
    <div class="control" id="tag-input">
      <%= f.text_field :tag_list, value: f.object.tag_list.join(','), pattern: '^[,a-z0-9一-龠々ぁ-ヶー]+$', class: 'input custom-tagify-look' %>
    </div>
    <%= render 'shared/full_error_messages', model: recipe, attribute: :tag_list %>
  </div>

  <% if action == 'new' %>
    <%= f.submit '投稿', class: 'button is-rounded is-info', id: 'create_recipe', disabled: true %>
  <% else %>
    <%= f.submit '更新', class: 'button is-rounded is-info', id: 'update_recipe', disabled: true %>
  <% end %>
<% end %>

<%= cloudinary_js_config %>
<%= javascript_pack_tag 'jqueryCloudinaryUpload', 'data-turbolinks-track': 'reload' %>
