<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-6">
        <%= form_with model: recipe do |f| %>
          <div class="field">
            <%= f.label :title, "レシピ名", class: "label" %>
            <%= f.text_field :title, class: "input" %>
          </div>
          <div class="field">
            <%= f.label :body, "作り方", class: "label" %>
            <%= f.text_area :body, class: "textarea" %>
          </div>
          <div class="field">
            <%= f.label :recipe_image, "写真", class: "label" %>
            <%= f.file_field :recipe_image, class: "file" %>
          </div>
          <%= f.submit value, class: "button is-rounded is-success" %>
        <% end %>
      </div>
    </div>
  </div>
</section>
