<%= form_with model: recipe_form, class: 'box p-6' do |f| %>
  <div class="field">
    <label class="label">画像</label>
    <p class='help has-text-dark mb-3'>2MB以下でjpgまたはjpeg、png、webp形式のファイルをアップロードすることができます。</p>

    <div class="columns is-multiline is-centered" id="image-preview-container">
      <% recipe_form.images.each do |image| %>
        <div class="column is-one-fifth is-flex">
          <figure class="image 128x128px">
            <%= image_tag image.resource_url(:preview), width: 256, height: 256 %>
          </figure>
          <button type="button" class="delete is-medium js-delete-image-button" data-key="<%= image.id %>"></button>
        </div>
      <% end %>

      <% (recipe_form.image_attributes.presence || {}).select { |_k, attrs| attrs['resource'] }.each do |k, attrs| %>
        <div class="column is-one-fifth is-flex">
          <figure class="image 128x128px">
            <%= cl_image_tag attrs['resource'].split(/[\/|.]/)[3], width: 256, height: 256, crop: :fill, quality: :auto, fetch_format: :auto %>
          </figure>
          <button type="button" class="delete is-medium js-delete-image-button" data-key="<%= k %>" data-cache="true"></button>
        </div>
      <% end %>
    </div>

    <div class="control mt-3">
      <% (recipe_form.image_attributes.presence || {}).select { |_k, attrs| attrs['resource'] }.each do |k, attrs| %>
        <%= hidden_field_tag "recipe[image_attributes][#{k}][resource]", attrs['resource'] %>
      <% end %>

      <% recipe_form.images.each do |image| %>
        <%= f.fields_for :image_attributes, image, index: image.id do |cf| %>
          <%= cf.hidden_field :id %>
          <%= cf.hidden_field :_destroy %>
        <% end %>
      <% end %>

      <div class="box has-text-centered has-background-light p-6 drop-zone" id="drop-zone">
        <div>
          <p>ドラッグ＆ドロップ</p>
          <p class="mt-3">または</p>

          <div class="file is-info is-inline-flex is-justify-content-center mt-3">
            <label class="file-label">
              <% if Rails.env.test? %>
                <%= f.file_field :file, return_delete_token: true, html: { class: 'file-input', data: { cloudinary_field: 'recipe[image_attributes][][resource]' }, accept: 'image/jpg, image/jpeg, image/png, image/webp', multiple: true } %>
              <% else %>
                <%= f.cl_image_upload :file, return_delete_token: true, html: { class: 'file-input', data: { cloudinary_field: 'recipe[image_attributes][][resource]' }, accept: 'image/jpg, image/jpeg, image/png, image/webp', multiple: true } %>
              <% end %>
              <span class="file-cta">
                <span class="file-label">
                  画像を選択する
                </span>
              </span>
            </label>
          </div>
        </div>

        <div class="mt-3 is-hidden" id="status-container">
          <progress class="progress is-info" value="0" max="100" id="progress-bar"></progress>
          <span id="status-message"></span>
        </div>
      </div>
    </div>
  </div>

  <div class="field">
    <%= f.label :title, class: 'label' %>
    <div class="control">
      <%= f.text_field :title, required: true, class: 'input' %>
    </div>
    <p class="help has-text-right">
      <span class="<%= 'has-text-danger' if recipe_form.errors[:title].any? %>" id="count-recipe-title-characters"><%= recipe_form.title&.size.presence || 0 %></span>/30字
    </p>
    <%= render 'shared/full_error_messages', model: recipe_form, attribute: :title %>
  </div>

  <div class="field">
    <%= f.label :body, class: 'label' %>
    <div class="control">
      <%= f.text_area :body, required: true, class: 'textarea has-fixed-size resize-textarea js-resize-textarea' %>
    </div>
    <p class="help has-text-right">
      <span class="<%= 'has-text-danger' if recipe_form.errors[:body].any? %>" id="count-recipe-body-characters"><%= recipe_form.body&.size.presence || 0 %></span>/2000字
    </p>
    <%= render 'shared/full_error_messages', model: recipe_form, attribute: :body %>
  </div>

  <div class="field">
    <%= f.label :tag_list, class: 'label' %>
    <div class="control" id="tag-input">
      <%= f.text_field :tag_list, value: f.object.tag_list.to_s.gsub(' ', ''), pattern: '^[,a-z0-9一-龠々ぁ-ヶー]+$', class: 'input custom-tagify-look' %>
    </div>
    <%= render 'shared/full_error_messages', model: recipe_form, attribute: :tag_list %>
  </div>

  <% if action == 'new' %>
    <%= f.submit '投稿', class: 'button is-rounded is-info', id: 'create_recipe', disabled: true %>
  <% else %>
    <%= f.submit '更新', class: 'button is-rounded is-info', id: 'update_recipe', disabled: true %>
  <% end %>
<% end %>

<%= cloudinary_js_config %>
<%= javascript_pack_tag 'jqueryCloudinaryMultipleUpload', 'data-turbolinks-track': 'reload' %>
<%= javascript_pack_tag 'removeImage', 'data-turbolinks-track': 'reload' %>
