<div class="column is-6-mobile is-4-tablet is-3-desktop">
  <div class="card" data-infinite-scroll-item="" data-rspec="recipe-<%= recipe.id %>">
    <div class="card-image">
      <%= link_to recipe_path(recipe) do %>
        <figure class="image is-1by1 has-mask">
          <%= image_tag recipe.recipe_image.thumb.url %>
          <div class="mask has-text-centered">
            <p class="has-text-white">
              <span class="icon-text mr-3">
                <span class="icon">
                  <i class="far fa-heart"></i>
                </span>
                <span><%= recipe.favorites.size %></span>
              </span>
              <span class="icon-text">
                <span class="icon">
                  <i class="far fa-comment"></i>
                </span>
                <span><%= recipe.comments.size %></span>
              </span>
            </p>
          </div>
        </figure>
      <% end %>
    </div>
  </div>
</div>
