<div class="column is-6-mobile is-4-tablet is-3-desktop">
  <div class="card" id="recipe-<%= recipe.id %>" data-infinite-scroll-item="">
    <div class="card-image">
      <figure class="image is-1by1 has-mask">
        <%= link_to recipe_path(recipe) do %>
          <%= image_tag recipe.recipe_image.url(:thumb) %>
          <div class="mask has-text-centered">
            <p class="has-text-white">
              <span class="icon-text mr-3">
                <span class="icon">
                  <i class="far fa-heart"></i>
                </span>
                <span><%= recipe.favorites.size %></span>
              </span>
              <span class="icon-text">
                <span class="icon">
                  <i class="far fa-comment"></i>
                </span>
                <span><%= recipe.comments.size %></span>
              </span>
            </p>
          </div>
        <% end %>
      </figure>
    </div>
  </div>
</div>
