<div class="card">
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <%= link_to user_path(user) do %>
          <figure class="image is-48x48">
            <%= image_tag user.user_image.icon, type: :upload, quality: 'auto', fetch_format: :auto, class: 'is-rounded' %>
          </figure>
        <% end %>
      </div>
      <div class="media-content">
        <p class="title mb-0 is-size-5 is-1-line">
          <span><%= link_to user.nickname, user_path(user), title: user.nickname, class: 'has-text-black-bis text-break hover-underline' %></span>
        </p>
        <p class="has-text-grey-light text-break">@<%= user.username %></p>
        <div class="js-follow-button-<%= user.id %>">
          <%= render 'shared/follow_button', user: user, size: 'is-small' %>
        </div>
      </div>
    </div>
    <div class="content">
      <p class="text-break <%= show_some_lines_depends_on(@other_recipes) %>"><span><%= user.profile %></span></p>
    </div>
  </div>
</div>
