<div class="card">
  <div class="card-content">
    <div class="media is-align-items-center">
      <div class="media-left">
        <%= link_to user_path(user) do %>
          <figure class="image is-48x48">
            <%= image_tag user.user_image.icon.url, class: 'is-rounded' %>
          </figure>
        <% end %>
      </div>
      <div class="media-content text-break">
        <%= link_to user_path(user) do %>
          <p class="title is-5 text-truncate-container">
            <span class="has-text-grey-darker hover-underline text-truncate-1"><%= user.nickname %></span>
          </p>
        <% end %>
        <p class="text-truncate-container">
          <span class="has-text-grey-light text-truncate-1">@<%= user.username %></span>
        </p>
      </div>
      <div class="media-left js-follow-button-<%= user.id %>">
        <%= render 'shared/follow_button', user: user, size: 'is-small' %>
      </div>
    </div>
    <% if user.profile.present? %>
      <div class="content">
        <p class="text-break text-truncate-container">
          <span class="<%= text_truncate_depends_on(@other_recipes) %>"><%= user.profile %></span>
        </p>
      </div>
    <% end %>
  </div>
</div>
