<div class="card">
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <%= link_to user_path(user) do %>
          <figure class="image is-48x48">
            <%= image_tag user.user_image.icon.url, class: 'is-rounded' %>
          </figure>
        <% end %>
      </div>
      <div class="media-content text-break">
        <%= link_to user_path(user) do %>
          <p class="title mb-0 is-size-5 text-truncate-container">
            <span class="has-text-black-bis hover-underline text-truncate-1" title="<%= user.nickname %>"><%= user.nickname %></span>
          </p>
        <% end %>
        <p class="has-text-grey-light">
          <span class="has-text-grey-light">@<%= user.username %></span>
        </p>
        <div class="mt-1 js-follow-button-<%= user.id %>">
          <%= render 'shared/follow_button', user: user, size: 'is-small' %>
        </div>
      </div>
    </div>
    <% if user.profile.present? %>
      <div class="content">
        <p class="text-break text-truncate-container">
          <span class="<%= text_truncate_depends_on(@other_recipes) %>"><%= user.profile %></span>
        </p>
      </div>
    <% end %>
  </div>
</div>
