<% provide(:title, 'レシピ編集') %>

<%= render 'layouts/hero', hero_title: 'レシピ編集' %>

<%= render 'shared/error_messages', model: @recipe %>

<section class="section">
  <div class="container">
    <%= form_with model: @recipe do |f| %>
      <div class="columns is-centered">
        <div class="column is-6 vertical-center">
          <%= f.label :recipe_image do %>
            <%= f.file_field :recipe_image, class: 'is-hidden', required: true, accept: 'image/jpg, image/jpeg, image/png, image/webp' %>
            <figure class="image is-4by3 cursor-pointer" id="file-cta">
              <%= image_tag @recipe.recipe_image.url(:thumb) %>
            </figure>
            <img id="file-preview">
          <% end %>
          <%= render 'devise/shared/full_error_messages', model: @recipe, attribute: :recipe_image %>
        </div>
        <div class="column is-6">
          <div class="field">
            <%= f.label :title, 'タイトル', class: 'label' %>
            <%= f.text_field :title, required: true, class: 'input' %>
          </div>
          <div class="field">
            <%= f.label :body, '作り方', class: 'label' %>
            <%= f.text_area :body, required: true, class: 'textarea has-fixed-size' %>
          </div>
          <%= f.submit 'レシピを更新', class: 'button is-rounded is-success', id: 'update_recipe', disabled: true %>
        </div>
      </div>
    <% end %>
  </div>
</section>
