<h1>Recipes#edit</h1>
<p>Find me in app/views/recipes/edit.html.erb</p>

<<%= form_for @recipe do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :body %>
  <%= f.text_area :body %>

  <%= f.label :image %>
  <%= f.attachment_field :image %>

  <%= f.submit %>
<% end %>
