<section class="hero is-success">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">レシピ一覧</h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <% @recipes.each do |recipe| %>
        <div class="column is-4">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <%= link_to recipe_path(recipe) do %>
                  <%= attachment_image_tag recipe, :image, fallback: "no-image.png" %>
                <% end %>
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <figure class="image is-48x48">
                    <%= link_to user_path(recipe.user) do %>
                      <%= attachment_image_tag recipe.user, :profile_image, fallback: "no-image.png" %>
                    <% end %>
                  </figure>
                </div>
                <div class="media-content">
                  <div class="title">
                    <%= link_to recipe.user.username, user_path(recipe.user) %>
                  </div>
                </div>
              </div>
              <div class="content">
                <time>
                  <%= recipe.updated_at.strftime("%Y-%m-%d %H:%M") %> 更新
                </time>
              </div>
              <div class="content">
                <% if current_user.already_favored?(recipe) %>
                  <%= link_to recipe_favorites_path(recipe), method: :delete do %>
                    <i class="fas fa-heart"></i>
                  <% end %>
                <% else %>
                  <%= link_to recipe_favorites_path(recipe), method: :post do %>
                    <i class="far fa-heart"></i>
                  <% end %>
                <% end %>
                <%= recipe.favorites.count %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
