<% provide(:title, @recipe.title) %>

<%= render 'shared/error_messages', model: @comment %>

<section class="section p-0-mobile">
  <div class="container">
    <div class="columns is-centered is-multiline m-0-mobile">
      <div class="column is-1 is-12-mobile">
        <aside class="recipe-navbar">
          <div class="recipe-navbar__item">
            <div class="recipe-navbar__item-button js-favorite-button-<%= @recipe.id %>">
              <%= render 'shared/favorite_button', recipe: @recipe, icon_size: 'is-large', fa_size: 'fa-lg' %>
            </div>
            <span class="recipe-navbar__item-text js-recount-favorites">
              <%= @recipe.favorites_count %>
            </span>
          </div>
          <div class="recipe-navbar__item">
            <a href="#comments" title="コメント一覧へ" class="recipe-navbar__item-button">
              <span class="icon is-large has-text-primary">
                <i class="far fa-lg fa-comment"></i>
              </span>
            </a>
            <span class="recipe-navbar__item-text">
              <%= @recipe.comments_count %>
            </span>
          </div>
          <% if user_signed_in? && @recipe.user == current_user %>
            <div class="dropdown has-text-left">
              <div class="dropdown-trigger rspec_recipe_dropdown_trigger">
                <button class="button is-medium recipe-navbar__item-dropdown-button" aria-haspopup="true" aria-controls="dropdown-menu">
                  <span class="icon">
                    <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                  </span>
                </button>
              </div>
              <div class="dropdown-menu recipe-navbar__item-dropdown-menu" id="dropdown-menu" role="menu">
                <div class="dropdown-content">
                  <%= link_to edit_recipe_path(@recipe), class: 'dropdown-item' do %>
                    <span class="icon">
                      <i class="fas fa-edit"></i>
                    </span>
                    <span>編集する</span>
                  <% end %>
                  <%= link_to recipe_path(@recipe), method: :delete, data: { confirm: '本当にレシピを削除しますか？' }, class: 'dropdown-item' do %>
                    <span class="icon">
                      <i class="far fa-trash-alt"></i>
                    </span>
                    <span>削除する</span>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </aside>
      </div>

      <div class="column is-10-tablet is-7-desktop p-0-mobile">
        <div class="card">
          <div class="card-image">
            <figure class="image is-1by1 is-clickable" id="show-image-modal">
              <%= image_tag @recipe.recipe_image.main.url %>
            </figure>
          </div>
          <div class="card-content">
            <p class="title is-spaced"><%= @recipe.title %></p>
            <p class="subtitle">作り方</p>
            <%= simple_format h(@recipe.body), class: 'content text-break' %>
            <p class="content">
              <% @recipe.tags.each do |tag| %>
                <%= link_to tag_path(tag.name) do %>
                  <span class="tag is-medium tag-link"><%= tag %></span>
                <% end %>
              <% end %>
            </p>
            <p class="has-text-right has-text-grey-light">
              <time datetime="<%= @recipe.created_at %>">投稿日：<%= l @recipe.created_at, format: :ymd %></time>
              <time class="ml-2" datetime="<%= @recipe.updated_at %>">更新日：<%= l @recipe.updated_at, format: :ymd %></time>
            </p>
          </div>
          <div class="card-content" id="comments">
            <p class="subtitle">コメント一覧</p>
            <div class="mb-5">
              <div class="oldest-comment">
                <% if @recipe.comments_count > 0 %>
                  <%= render 'recipes/comment', comment: @comments.first %>
                  <% if @recipe.comments_count > 1 %>
                    <div class="has-text-centered" id="readmore">
                      <div class="button is-rounded"><%= @recipe.comments_count %>件のコメントをすべて見る</div>
                    </div>
                  <% end %>
                <% end %>
              </div>
              <div class="all-comments is-hidden">
                <%= render partial: 'recipes/comment', collection: @comments %>
                <div class="has-text-centered" id="readless"><div class="button is-rounded">閉じる</div></div>
              </div>
            </div>
            <%= form_with model: [@recipe, @comment] do |f| %>
              <div class="field">
                <div class="control">
                  <%= f.text_area :body, placeholder: 'コメントする', required: true, class: 'textarea has-fixed-size resize-textarea js-resize-textarea js-show-sign-in-modal' %>
                </div>
                <p class="help has-text-right">
                  <span class="<%= 'has-text-danger' if @comment.errors[:body].any? %>" id="count-comment-body-characters"><%= @comment.body&.size.presence || 0 %></span>/500字
                </p>
                <%= render 'shared/full_error_messages', model: @comment, attribute: :body %>
              </div>
              <%= f.submit 'コメントを投稿', class: 'button is-info is-rounded', id: 'create_comment', disabled: true %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="column is-offset-1-tablet is-10-tablet is-offset-0-desktop is-4-desktop p-0-mobile">
        <div class="sticky">
          <%= render 'recipes/user_card', user: @recipe.user %>
          <% unless @other_recipes.blank? %>
            <div class="block mt-5">
              <div class="content pl-5">
                <p>他の投稿</p>
              </div>
              <div class="columns is-multiline is-mobile is-variable is-1">
                <%= render partial: 'recipes/other_recipe', collection: @other_recipes, as: 'recipe' %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="modal" id="image-modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <figure class="image is-1by1">
      <%= image_tag @recipe.recipe_image.main.url %>
    </figure>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>
