<% provide(:title, @recipe.title) %>

<%= render 'shared/error_messages', model: @comment %>

<section class="section p-0-mobile">
  <div class="container">
    <div class="columns is-centered is-multiline m-0-mobile">
      <div class="column is-1 is-hidden-mobile">
        <aside class="menu sticky z-index-1">
          <ul class="menu-list has-text-centered">
            <li class="js-favorite-button-<%= @recipe.id %>">
              <%= render 'shared/favorite_button', recipe: @recipe, icon_size: 'is-medium', fa_size: 'fa-lg' %>
            </li>
            <li class="js-recount-favorites">
              <%= @recipe.favorites.size %>
            </li>
            <li>
              <a href="#comments" title="コメント一覧へ">
                <span class="icon is-medium has-text-primary">
                  <i class="far fa-lg fa-comment"></i>
                </span>
              </a>
            </li>
            <li>
              <%= @comments.size %>
            </li>
            <li>
              <% if user_signed_in? && @recipe.user == current_user %>
                <div class="dropdown has-text-left">
                  <div class="dropdown-trigger rspec_recipe_dropdown_trigger">
                    <button class="button is-white has-background-white-bis" aria-haspopup="true" aria-controls="dropdown-menu">
                      <span class="icon">
                        <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                      </span>
                    </button>
                  </div>
                  <div class="dropdown-menu" id="dropdown-menu" role="menu">
                    <div class="dropdown-content">
                      <%= link_to '編集する', edit_recipe_path(@recipe), class: 'dropdown-item' %>
                      <%= link_to '削除する', recipe_path(@recipe), method: :delete, data: {confirm: '本当にレシピを削除しますか？'}, class: 'dropdown-item' %>
                    </div>
                  </div>
                </div>
              <% end %>
            </li>
          </ul>
        </aside>
      </div>

      <div class="column is-9-tablet is-7-desktop p-0-mobile">
        <div class="card">
          <div class="card-content is-hidden-desktop">
            <div class="media">
              <div class="media-left">
                <figure class="image is-24x24">
                  <%= image_tag @recipe.user.user_image.icon.url, class: 'is-rounded' %>
                </figure>
              </div>
              <div class="media-content is-1-line">
                <span><%= link_to @recipe.user.nickname, user_path(@recipe.user), title: @recipe.user.nickname, class: 'has-text-black-bis text-break hover-underline' %></span>
              </div>
              <% if user_signed_in? && @recipe.user == current_user %>
                <div class="media-right">
                  <div class="dropdown is-right">
                    <div class="dropdown-trigger">
                      <button class="button is-white is-small" aria-haspopup="true" aria-controls="dropdown-menu">
                        <span class="icon is-small">
                          <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                        </span>
                      </button>
                    </div>
                    <div class="dropdown-menu" id="dropdown-menu" role="menu">
                      <div class="dropdown-content">
                        <%= link_to '編集する', edit_recipe_path(@recipe), class: 'dropdown-item' %>
                        <%= link_to '削除する', recipe_path(@recipe), method: :delete, data: {confirm: '本当にレシピを削除しますか？'}, class: 'dropdown-item' %>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
          <div class="card-image">
            <figure class="image is-1by1 cursor-pointer" id="show-image-modal">
              <%= image_tag @recipe.recipe_image.main.url %>
            </figure>
          </div>
          <div class="card-content">
            <p class="title is-spaced"><%= @recipe.title %></p>
            <p class="subtitle">作り方</p>
            <%= simple_format h(@recipe.body), class: 'content text-break' %>
            <p class="content">
              <% @recipe.tags.each do |tag| %>
                <span class="tag"><%= tag %></span>
              <% end %>
            </p>
            <p class="has-text-right has-text-grey-light">
              <time datetime="<%= @recipe.created_at %>">投稿日：<%= l @recipe.created_at, format: :ymd %></time>
              <time class="ml-2" datetime="<%= @recipe.updated_at %>">更新日：<%= l @recipe.updated_at, format: :ymd %></time>
            </p>
          </div>
          <div class="card-content" id="comments">
            <p class="subtitle">コメント一覧</p>
            <div class="mb-5">
              <div class="oldest-comment">
                <% if @comments.size > 0 %>
                  <%= render 'recipes/comment', comment: @comments.first %>
                  <% if @comments.size > 1 %>
                    <div class="has-text-centered" id="readmore">
                      <div class="button is-rounded"><%= @comments.size %>件のコメントをすべて見る</div>
                    </div>
                  <% end %>
                <% end %>
              </div>
              <div class="all-comments is-hidden">
                <%= render partial: 'recipes/comment', collection: @comments %>
                <div class="has-text-centered" id="readless"><div class="button is-rounded">閉じる</div></div>
              </div>
            </div>
            <%= form_with model: [@recipe, @comment] do |f| %>
              <div class="field">
                <div class="control">
                  <%= f.text_area :body, placeholder: 'コメントする', required: true, class: 'textarea has-fixed-size resize-textarea js-resize-textarea js-show-sign-in-modal' %>
                </div>
                <p class="help has-text-right">
                  <span class="<%= 'has-text-danger' if @comment.errors[:body].any? %>" id="count-comment-body-characters"><%= @comment.body&.size.presence || 0 %></span>/500字
                </p>
                <%= render 'devise/shared/full_error_messages', model: @comment, attribute: :body %>
              </div>
              <%= f.submit 'コメントを投稿', class: 'button is-primary is-rounded', id: 'create_comment', disabled: true %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="column is-10-tablet is-4-desktop p-0-mobile">
        <div class="sticky">
          <div class="is-hidden-touch">
            <%= render 'recipes/user_card', user: @recipe.user %>
          </div>
          <% unless @other_recipes.blank? %>
            <div class="card mt-4">
              <div class="card-content px-5 py-3">
                <p>他の投稿</p>
              </div>
              <div class="columns is-multiline is-gapless is-mobile">
                <%= render partial: 'recipes/other_recipe', collection: @other_recipes, as: 'recipe' %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="bottom-item is-hidden-tablet">
  <div class="content py-3">
    <div class="level is-mobile">
      <div class="level-item">
        <div class="js-favorite-button-<%= @recipe.id %>">
          <%= render 'shared/favorite_button', recipe: @recipe, icon_size: '', fa_size: '' %>
        </div>
        <div class="ml-3 js-recount-favorites"><%= @recipe.favorites.size %></div>
      </div>
      <div class="level-item">
        <a href="#comments" title="コメント一覧へ">
          <span class="icon has-text-primary">
            <i class="far fa-comment"></i>
          </span>
        </a>
        <div class="ml-3"><%= @comments.size %></div>
      </div>
      <% if user_signed_in? && @recipe.user == current_user %>
        <div class="level-item">
          <div class="dropdown is-right is-up">
            <div class="dropdown-trigger">
              <button class="button is-rounded is-white is-small" aria-haspopup="true" aria-controls="dropdown-menu">
                <span class="icon is-small">
                  <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                </span>
              </button>
            </div>
            <div class="dropdown-menu" id="dropdown-menu" role="menu">
              <div class="dropdown-content">
                <%= link_to '編集する', edit_recipe_path(@recipe), class: 'dropdown-item' %>
                <%= link_to '削除する', recipe_path(@recipe), method: :delete, data: {confirm: '本当にレシピを削除しますか？'}, class: 'dropdown-item' %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="modal" id="image-modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <figure class="image is-1by1">
      <%= image_tag @recipe.recipe_image.main.url %>
    </figure>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>
