<section class="hero is-success">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">レシピ詳細</h1>
    </div>
  </div>
</section>

<%= render 'shared/error_messages', model: @comment %>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-6">
        <%= render 'shared/recipe_card', recipe: @recipe %>
      </div>

      <div class="column is-3">
        <article class="panel is-link">
          <p class="panel-heading">
            By <%= @recipe.user.username %>
          </p>
          <div class="panel-block">
            <p class="control">
              <%= @recipe.user.profile %>
            </p>
          </div>
          <%= link_to user_path(@recipe.user), class: "panel-block" do %>
            <span class="panel-icon">
              <i class="fas fa-user" aria-hidden="true"></i>
            </span>
            <%= @recipe.user.username %>さんのページへ
          <% end %>
        </article>
      </div>
    </div>
  </div>
</section>
