<% visitor = notification.visitor %>
<% visited = notification.visited %>

<div class="media">
  <figure class="media-left">
    <p class="image is-32x32 is-hidden-mobile">
      <%= link_to user_path(visitor) do %>
        <%= image_tag visitor.user_image.url(:icon), class: "is-rounded" %>
      <% end %>
    </p>
    <p class="image is-32x32 is-hidden-tablet">
      <%= link_to user_path(visitor) do %>
        <%= image_tag visitor.user_image.url(:icon), class: "is-rounded" %>
      <% end %>
    </p>
  </figure>
  <div class="media-content">
    <p>
      <%= link_to visitor.username, user_path(visitor), class: "has-text-black-bis has-text-weight-bold text-break" %>さんが
      <% if notification.action == 'favorite' %>
        <%= link_to "あなたの投稿「#{notification.recipe.title}」", recipe_path(notification.recipe), class: 'has-text-black-bis has-text-weight-bold text-break' %>にいいねしました。
      <% else notification.action == 'comment' %>
        <%= link_to "あなたの投稿「#{notification.comment.recipe.title}」", recipe_path(notification.comment.recipe), class: 'has-text-black-bis has-text-weight-bold text-break' %>にコメントしました。
      <% end %>
    </p>
    <time class="has-text-grey-light" datetime="<%= notification.created_at %>"><%= time_ago_in_words(notification.created_at) %>前</time>
  </div>
</div>
