<div class="media">
  <div class="media-left">
    <%= link_to user_path(notification.notifiable.user) do %>
      <figure class="image is-32x32">
        <%= image_tag notification.notifiable.user.user_image.icon, type: :upload, quality: 'auto', fetch_format: :auto, class: 'is-rounded' %>
      </figure>
    <% end %>
  </div>
  <div class="media-content">
    <p>
      <%= link_to notification.notifiable.user.nickname, user_path(notification.notifiable.user), class: 'has-text-black-bis has-text-weight-bold text-break hover-underline' %>さんが
      <% if notification.notifiable_type.downcase == 'favorite' %>
        <%= link_to "あなたの投稿「#{notification.notifiable.recipe.title}」", recipe_path(notification.notifiable.recipe), class: 'has-text-black-bis has-text-weight-bold text-break hover-underline' %>にいいねしました。
      <% elsif notification.notifiable_type.downcase == 'comment' %>
        <% if notification.notifiable.recipe.user_id == notification.receiver_id %>
          <%= link_to "あなたの投稿「#{notification.notifiable.recipe.title}」", recipe_path(notification.notifiable.recipe), class: 'has-text-black-bis has-text-weight-bold text-break hover-underline' %>にコメントしました。
        <% else %>
          <%= link_to "あなたがコメントした投稿「#{notification.notifiable.recipe.title}」", recipe_path(notification.notifiable.recipe), class: 'has-text-black-bis has-text-weight-bold text-break hover-underline' %>にコメントしました。
        <% end %>
      <% else notification.notifiable_type.downcase == 'relationship' %>
        あなたをフォローしました。
      <% end %>
    </p>
    <time class="has-text-grey-light" datetime="<%= notification.created_at %>"><%= time_ago_in_words(notification.created_at) %>前</time>
  </div>
</div>
