<div class="media" data-infinite-scroll-item="" data-rspec="user-<%= user.id %>">
  <div class="media-left">
    <%= link_to user_path(user) do %>
      <figure class="image is-64x64 is-hidden-mobile">
        <%= image_tag user.user_image.icon.url, class: 'is-rounded' %>
      </figure>
      <figure class="image is-48x48 is-hidden-tablet">
        <%= image_tag user.user_image.icon.url, class: 'is-rounded' %>
      </figure>
    <% end %>
  </div>
  <div class="media-content">
    <%= link_to user_path(user), title: user.nickname, class: 'hover-underline' do %>
      <p class="title is-4 text-truncate-container">
        <span class="text-truncate-1"><%= user.nickname %></span>
      </p>
    <% end %>
    <p>
      <span class="has-text-grey-light">@<%= user.username %></span>
      <% if user.following?(current_user) %>
        <span class="tag is-info is-light">フォローされています</span>
      <% end %>
    </p>
    <p class="text-break text-truncate-container">
      <span class="text-truncate-3"><%= user.profile %></span>
    </p>
  </div>
</div>
