<div class="media" data-infinite-scroll-item="">
  <div class="media-left">
    <%= link_to user_path(user) do %>
      <figure class="image is-64x64 is-hidden-mobile">
        <%= image_tag user.user_image.icon.url, class: 'is-rounded' %>
      </figure>
      <figure class="image is-48x48 is-hidden-tablet">
        <%= image_tag user.user_image.icon.url, class: 'is-rounded' %>
      </figure>
    <% end %>
  </div>
  <div class="media-content">
    <p class="is-size-4 is-1-line"><span><%= link_to user.nickname, user_path(user), title: user.nickname, class: 'has-text-black-bis text-break hover-underline' %></span></p>
    <p class="has-text-grey-light">@<%= user.username %></p>
    <% if user.following?(current_user) %>
      <span class="tag is-info is-light">フォローされています</span>
    <% end %>
    <p class="text-break is-3-lines"><span><%= user.profile %></span></p>
  </div>
</div>
