<div class="media" data-infinite-scroll-item="">
  <figure class="media-left">
    <p class="image is-64x64 is-hidden-mobile">
      <%= link_to user_path(user) do %>
        <%= image_tag user.user_image.url(:icon), class: 'is-rounded' %>
      <% end %>
    </p>
    <p class="image is-48x48 is-hidden-tablet">
      <%= link_to user_path(user) do %>
        <%= image_tag user.user_image.url(:icon), class: 'is-rounded' %>
      <% end %>
    </p>
  </figure>
  <div class="media-content">
    <p class="is-size-4 mb-3 oneline"><span><%= link_to user.username, user_path(user), class: 'has-text-black-bis text-break hover-underline' %></span></p>
    <% if user.following?(current_user) %>
      <span class="tag is-info is-light mb-3">フォローされています</span>
    <% end %>
    <p class="text-break threeline"><span><%= user.profile %></span></p>
  </div>
</div>
