<div class="column is-12-mobile is-6-tablet is-4-desktop p-0-mobile">
  <div class="card" data-rspec="user-<%= user.id %>">
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <%= link_to user_path(user) do %>
            <figure class="image is-64x64">
              <%= image_tag user.user_image.icon.url, class: 'is-rounded' %>
            </figure>
          <% end %>
        </div>
        <div class="media-content">
          <%= link_to user_path(user) do %>
            <p class="title is-5 text-truncate-container">
              <span class="text-break hover-underline text-truncate-1"><%= user.nickname %></span>
            </p>
          <% end %>
          <p class="mb-2">
            <span class="has-text-grey-light">@<%= user.username %></span>
            <% if user_signed_in? && current_user_follower_ids.include?(user.id) %>
              <span class="tag is-info is-light">フォローされています</span>
            <% end %>
          </p>
          <div class="js-follow-button-<%= user.id %>">
            <%= render 'shared/follow_button', user: user, size: 'is-small' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
