<div class="column is-12-mobile is-6-tablet is-4-desktop p-0-mobile">
  <div class="card" data-infinite-scroll-item="" data-rspec="user-<%= user.id %>">
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <%= link_to user_path(user) do %>
            <figure class="image is-64x64">
              <%= image_tag user.user_image.icon.url, class: 'is-rounded' %>
            </figure>
          <% end %>
        </div>
        <div class="media-content">
          <%= link_to user_path(user) do %>
            <p class="is-size-5 is-1-line">
              <span class="has-text-black-bis text-break hover-underline" title="<%= user.nickname %>"><%= user.nickname %></span>
            </p>
            <p class="has-text-grey-light mb-2">@<%= user.username %></p>
          <% end %>
          <div class="js-follow-button-<%= user.id %>">
            <%= render 'shared/follow_button', user: user, size: 'is-small' %>
          </div>
        </div>
      </div>
      <% if user.following?(current_user) %>
        <div class="content">
          <span class="tag is-info is-light">フォローされています</span>
        </div>
      <% end %>
    </div>
  </div>
</div>
