<% controller.action_name == 'followings' ? followings_or_followers = 'がフォロー中' : followings_or_followers = 'のフォロワー' %>
<% provide(:title, "#{@user.nickname}さん#{followings_or_followers}") %>

<section class="section">
  <div class="container">
    <h1 class="title has-text-centered">
      <span class="icon-text">
        <%= link_to user_path(@user), class: 'has-text-grey-darker hover-underline' do %>
          <span class="icon">
            <i class="fas fa-arrow-left"></i>
          </span>
          <span><%= @user.nickname %>さん</span>
        <% end %>
        <span><%= followings_or_followers %></span>
      </span>
    </h1>
    <div class="columns is-centered is-multiline">
      <div class="column is-9" id="infinite-scroll-container" data-infinite-scroll="<%= @follows.size == 40 %>">
        <% if @follows.exists? %>
          <%= render partial: 'users/follow', collection: @follows, as: 'user' %>
        <% else %>
          <p class="has-text-centered"><%= no_follows_description(@user) %></p>
        <% end %>
      </div>
      <% if @follows.size == 40 %>
        <div class="column is-12" id="remove-after-loading"><div class="loading-animation"></div></div>
      <% end %>
    </div>
  </div>
</div>
