<% if @followers.exists? %>
  <table>
    <% @followers.each do |user| %>
      <tr>
        <td>
          <figure class="image is-128x128" style="margin-left: auto; margin-right: auto;">
            <%= attachment_image_tag user, :profile_image, fallback: "no-image.png", class: "profile_image is-rounded" %>
          </figure>
        </td>
        <td><%= link_to user.username, user_path(user) %></td>
        <td><%= user.profile %></td>
        <td>
          <%= render 'shared/follow_button', user: user %>
        </td>
      </tr>
    <% end %>
  </table>
<% else %>
  <% if @user.id == current_user.id %>
    <p>まだフォロワーがいません</p>
  <% else %>
    <p><%= @user.username %>さんにはまだフォロワーがいません</p>
  <% end %>
<% end %>
