<% provide(:title, "#{@user.nickname}さんの詳細") if controller.action_name == 'show' %>
<% provide(:title, "#{@user.nickname}さんがコメントしたレシピ") if controller.action_name == 'comments' %>
<% provide(:title, "#{@user.nickname}さんがいいねしたレシピ") if controller.action_name == 'favorites' %>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-10">
        <div class="media is-hidden-tablet is-align-items-center">
          <div class="media-content">
            <figure class="image is-96x96">
              <%= image_tag @user.user_image.thumb.url, class: 'is-rounded' %>
            </figure>
          </div>
          <div class="media-right">
            <% if @user == current_user %>
              <%= link_to 'プロフィールを編集', edit_users_path, class: 'button is-rounded' %>
            <% else %>
              <div class="js-follow-button-<%= @user.id %>">
                <%= render 'shared/follow_button', user: @user, size: 'is-normal' %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="media border-0 mt-0 pt-0">
          <div class="media-left is-hidden-mobile">
            <figure class="image is-128x128">
              <%= image_tag @user.user_image.thumb.url, class: 'is-rounded' %>
            </figure>
          </div>
          <div class="media-content">
            <div class="is-flex is-justify-content-space-between is-align-items-center">
              <div class="content">
                <p class="title is-size-4-mobile mb-0"><%= @user.nickname %></p>
                <p>
                  <span class="has-text-grey-light">@<%= @user.username %></span>
                  <% if user_signed_in? && current_user_follower_ids.include?(@user.id) %>
                    <span class="tag is-info is-light">フォローされています</span>
                  <% end %>
                </p>
              </div>
              <div class="is-hidden-mobile">
                <% if @user == current_user %>
                  <%= link_to 'プロフィールを編集', edit_users_path, class: 'button is-rounded' %>
                <% else %>
                  <div class="js-follow-button-<%= @user.id %>">
                    <%= render 'shared/follow_button', user: @user, size: 'is-normal' %>
                  </div>
                <% end %>
              </div>
            </div>
            <div class="content text-break">
              <p><%= @user.profile %></p>
              <p class="is-size-7-mobile">
                <span class="mr-5">投稿<span class="has-text-weight-bold"><%= @user.recipes_count %></span>件</span>
                <%= link_to user_followers_path(@user), class: "has-text-grey-dark hover-underline #{'js-show-sign-in-modal' unless user_signed_in?}" do %>
                  フォロワー<span class="has-text-weight-bold" id="recount-followers"><%= @user.followers_count %></span>人
                <% end %>
                <%= link_to user_followings_path(@user), class: "has-text-grey-dark hover-underline ml-5 #{'js-show-sign-in-modal' unless user_signed_in?}" do %>
                  フォロー中<span class="has-text-weight-bold"><%= @user.followings_count %></span>人
                <% end %>
                <%= link_to 'フォロー中のタグ', user_following_tags_path(@user), class: "has-text-grey-dark hover-underline ml-5 #{'js-show-sign-in-modal' unless user_signed_in?}" %>
              </p>
            </div>
            <% if @user != current_user && @followers_you_follow.present? %>
              <div class="is-flex is-align-items-center">
                <div class="is-flex">
                  <figure class="image is-24x24">
                    <%= image_tag @followers_you_follow.map(&:user_image)[0].url(:icon), class: 'is-rounded' %>
                  </figure>
                  <% if @followers_you_follow.size >= 2 %>
                    <figure class="image is-24x24">
                      <%= image_tag @followers_you_follow.map(&:user_image)[1].url(:icon), class: 'is-rounded' %>
                    </figure>
                  <% end %>
                </div>
                <div class="ml-3 text-break is-size-7-mobile">
                  <% if @followers_you_follow.size >= 3 %>
                    <p class="has-text-grey-light">
                      <%= "#{@followers_you_follow.map(&:nickname).first(2).join('さん、')}さん、他#{@followers_you_follow.size - 2}人にフォローされています" %>
                    </p>
                  <% else %>
                    <p class="has-text-grey-light">
                      <%= "#{@followers_you_follow.map(&:nickname).join('さん、')}さんにフォローされています" %>
                    </p>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="tabs is-centered is-fullwidth">
      <ul>
        <li class="<%= 'is-active' if controller.action_name == 'show' %>">
          <%= link_to user_path(@user) do %>
            <span class="icon is-small"><i class="fas fa-border-all" aria-hidden="true"></i></span>
            <span>投稿</span>
          <% end %>
        </li>
        <li class="<%= 'is-active' if controller.action_name == 'comments' %>">
          <%= link_to user_comments_path(@user), class: ('js-show-sign-in-modal' unless user_signed_in?) do %>
            <span class="icon is-small"><i class="far fa-comment" aria-hidden="true"></i></span>
            <span>コメント</span>
          <% end %>
        </li>
        <li class="<%= 'is-active' if controller.action_name == 'favorites' %>">
          <%= link_to user_favorites_path(@user), class: ('js-show-sign-in-modal' unless user_signed_in?) do %>
            <span class="icon is-small"><i class="far fa-heart" aria-hidden="true"></i></span>
            <span>いいね</span>
          <% end %>
        </li>
      </ul>
    </div>

    <div class="columns is-multiline is-mobile" id="pageables-container">
      <% if @recipes.exists? %>
        <%= render @recipes %>
      <% else %>
        <div class="column">
          <p class="has-text-centered"><%= no_recipes_description(@user) %></p>
        </div>
      <% end %>
    </div>
    <% unless @recipes.last_page? %>
      <div class="loading-animation" id="loading-animation"></div>
      <div id="next-page-link-container">
        <%= render 'shared/next_page_link', pageables: @recipes %>
      </div>
    <% end %>
  </div>
</section>
