<% provide(:title, "#{@user.nickname}さんの詳細") if controller.action_name == 'show' %>
<% provide(:title, "#{@user.nickname}さんがコメントしたレシピ") if controller.action_name == 'comments' %>
<% provide(:title, "#{@user.nickname}さんがいいねしたレシピ") if controller.action_name == 'favorites' %>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-10">
        <div class="media is-hidden-tablet">
          <div class="media-content">
            <figure class="image is-96x96">
              <%= image_tag @user.user_image.thumb.url, class: 'is-rounded' %>
            </figure>
          </div>
          <div class="media-right margin-auto-0">
            <% if @user == current_user %>
              <%= link_to 'プロフィールを編集', edit_users_path, class: 'button is-rounded' %>
            <% else %>
              <div class="js-follow-button-<%= @user.id %>">
                <%= render 'shared/follow_button', user: @user, size: 'is-normal' %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="media border-0 mt-0 pt-0">
          <div class="media-left is-hidden-mobile mr-6">
            <figure class="image is-128x128">
              <%= image_tag @user.user_image.thumb.url, class: 'is-rounded' %>
            </figure>
          </div>
          <div class="media-content">
            <div class="media border-0 pt-0">
              <div class="media-content">
                <p class="title mb-0"><%= @user.nickname %></p>
                <p class="has-text-grey-light">@<%= @user.username %></p>
              </div>
              <div class="media-right margin-auto-0 is-hidden-mobile">
                <% if @user == current_user %>
                  <%= link_to 'プロフィールを編集', edit_users_path, class: 'button is-rounded' %>
                <% else %>
                  <div class="js-follow-button-<%= @user.id %>">
                    <%= render 'shared/follow_button', user: @user, size: 'is-normal' %>
                  </div>
                <% end %>
              </div>
            </div>
            <% if @user.following?(current_user) %>
              <div class="content">
                <span class="tag is-info is-light">フォローされています</span>
              </div>
            <% end %>
            <div class="content text-break">
              <p class="mb-3">
                <%= @user.profile %>
              </p>
              <p class="is-size-7-mobile">
                <span class="mr-5">投稿<span class="has-text-weight-bold"><%= @user.recipes.size %></span>件</span>
                <%= link_to user_followers_path(@user), class: 'has-text-grey-dark hover-underline mr-5' do %>
                  フォロワー<span class="has-text-weight-bold" id="recount-followers"><%= @user.followers.size %></span>人
                <% end %>
                <%= link_to user_followings_path(@user), class: 'has-text-grey-dark hover-underline mr-5' do %>
                  フォロー中<span class="has-text-weight-bold"><%= @user.followings.size %></span>人
                <% end %>
              </p>
            </div>
            <% if @user != current_user && @followers_you_follow.present? %>
              <div class="media border-0">
                <div class="media-left is-flex">
                  <figure class="image is-24x24">
                    <%= image_tag @followers_you_follow.map(&:user_image).first.url(:icon), class: 'is-rounded' %>
                  </figure>
                  <% if @followers_you_follow.size >= 2 %>
                    <figure class="image is-24x24">
                      <%= image_tag @followers_you_follow.map(&:user_image)[1].url(:icon), class: 'is-rounded' %>
                    </figure>
                  <% end %>
                </div>
                <div class="media-content text-break is-size-7-mobile">
                  <% if @followers_you_follow.size >= 3 %>
                    <p class="has-text-grey-light">
                      <%= "#{@followers_you_follow.map(&:nickname).first(2).join('さん、')}さん、他#{@followers_you_follow.size - 2}人にフォローされています" %>
                    </p>
                  <% else %>
                    <p class="has-text-grey-light">
                      <%= "#{@followers_you_follow.map(&:nickname).join('さん、')}さんにフォローされています" %>
                    </p>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="tabs is-centered is-fullwidth">
      <ul>
        <li class="<%= 'is-active' if controller.action_name == 'show' %>">
          <%= link_to user_path(@user) do %>
            <span class="icon is-small has-text-link"><i class="fas fa-pen" aria-hidden="true"></i></span>
            <span class="has-text-black-ter">投稿</span>
          <% end %>
        </li>
        <li class="<%= 'is-active' if controller.action_name == 'comments' %>">
          <%= link_to user_comments_path(@user) do %>
            <span class="icon is-small has-text-primary"><i class="fas fa-comment" aria-hidden="true"></i></span>
            <span class="has-text-black-ter">コメント</span>
          <% end %>
        </li>
        <li class="<%= 'is-active' if controller.action_name == 'favorites' %>">
          <%= link_to user_favorites_path(@user) do %>
            <span class="icon is-small has-text-danger"><i class="fas fa-heart" aria-hidden="true"></i></span>
            <span class="has-text-black-ter">いいね</span>
          <% end %>
        </li>
      </ul>
    </div>

    <div class="columns is-multiline is-mobile" id="infinite-scroll-container" data-infinite-scroll="<%= @recipes.size == 40 %>">
      <% if @recipes.exists? %>
        <%= render @recipes %>
        <% if @recipes.size == 40 %>
          <div class="column is-12" id="remove-after-loading"><div class="loading-animation"></div></div>
        <% end %>
      <% else %>
        <div class="column">
          <p class="has-text-centered"><%= no_recipes_description(@user) %></p>
        </div>
      <% end %>
    </div>
  </div>
</section>
