<section class="hero is-success">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        <% if @user.id == current_user.id %>
          マイページ
        <% else %>
          <%= @user.username %>さんの詳細
        <% end %>
      </h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-centered ">
      <div class="column is-10">
        <div class="columns is-centered ">
          <div class="column is-4">
            <figure class="image is-128x128" style="margin-left: auto; margin-right: auto;">
              <%= attachment_image_tag @user, :profile_image, fallback: "no-image.png", class: "profile_image is-rounded" %>
            </figure>
          </div>
          <div class="column is-8">
            <table class="table is-fullwidth">
              <tr>
                <td class="is-size-4">
                  <strong><%= @user.username %></strong>
                </td>
                <% if @user.id == current_user.id %>
                  <td class="is-size-4">
                    <%= @user.email %>
                  </td>
                  <td>
                    <%= link_to "編集", edit_user_path(@user), class: "button is-primary" %>
                  </td>
                <% end %>
                <td>
                  <%= render 'shared/follow_button', user: @user %>
                </td>
                <td>
                  <%= link_to user_followings_path(@user), class: "button has-text-black-bis" do %>
                    <strong><%= @user.followings.count %></strong> フォロー中
                  <% end %>
                </td>
                <td>
                  <%= link_to user_followers_path(@user), class: "button has-text-black-bis" do %>
                    <strong><%= @user.followers.count %></strong> フォロワー
                  <% end %>
                </td>
              </tr>
            </table>
            <table class="table is-fullwidth">
              <tr>
                <td>
                  <%= @user.profile %>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <% @user.recipes.each do |recipe| %>
        <div class="column is-4">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <%= attachment_image_tag recipe, :image, fallback: "no-image.png" %>
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <%= link_to recipe_path(recipe), class: "panel-block" do %>
                    <span class="panel-icon">
                      <i class="fas fa-book" aria-hidden="true"></i>
                    </span>
                    このレシピを見る
                  <% end %>
                  <% if @user.id == current_user.id %>
                    <%= link_to edit_recipe_path(recipe), class: "panel-block" do %>
                      <span class="panel-icon">
                        <i class="fas fa-edit"></i>
                      </span>
                      このレシピを編集する
                    <% end %>
                    <%= link_to recipe_path(recipe), method: :delete, data: {confirm: "削除しますか？"}, class: "panel-block" do %>
                      <span class="panel-icon">
                        <i class="fas fa-trash"></i>
                      </span>
                      このレシピを削除する
                    <% end %>
                  <% end %>
                </div>
              </div>
              <div class="content">
                <time>
                  <%= recipe.updated_at.strftime("%Y-%m-%d %H:%M") %> 更新
                </time>
              </div>
              <div class="content">
                <% if current_user.already_favored?(recipe) %>
                  <%= link_to recipe_favorites_path(recipe), method: :delete do %>
                    <i class="fas fa-heart"></i>
                  <% end %>
                <% else %>
                  <%= link_to recipe_favorites_path(recipe), method: :post do %>
                    <i class="far fa-heart"></i>
                  <% end %>
                <% end %>
                <%= recipe.favorites.count %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
