<% model.find_each do |user| %>
  <div class="media">
    <figure class="media-left">
      <p class="image is-64x64">
        <%= link_to user_path(user) do %>
          <%= image_tag user.user_image.url, class: "is-rounded" %>
        <% end %>
      </p>
    </figure>
    <div class="media-content">
      <p class="is-size-4"><%= link_to user.username, user_path(user) %></p>
      <%= simple_format h(user.profile) %>
    </div>
    <div class="media-right">
      <div class="dropdown is-right">
        <div class="dropdown-trigger">
          <button class="button is-white is-small" aria-haspopup="true" aria-controls="dropdown-menu">
            <span class="icon is-small">
              <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
            </span>
          </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu" role="menu">
          <div class="dropdown-content">
            <%= render 'shared/follow_button', user: user %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
