<% model.each do |user| %>
  <div class="media">
    <figure class="media-left">
      <p class="image is-64x64">
        <%= link_to user_path(user) do %>
          <%= attachment_image_tag user, :profile_image, fallback: "no-image.png", class: "profile_image is-rounded" %>
        <% end %>
      </p>
    </figure>
    <div class="media-content">
      <div class="content">
        <div class="columns">
          <div class="column is-10">
            <strong class="is-size-4"><%= link_to user.username, user_path(user) %></strong>
          </div>
          <div class="column is-1">
            <%= render 'shared/follow_button', user: user %>
          </div>
        </div>
        <%= simple_format user.profile %>
      </div>
    </div>
  </div>
<% end %>
