<% unless user_signed_in? %>
  <p class="has-text-grey-light">おすすめ</p>
<% end %>

<div class="card mb-5" data-infinite-scroll-item="" data-rspec="recipe-<%= feed.id %>">
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <%= link_to user_path(feed.user) do %>
          <figure class="image is-24x24">
            <%= image_tag feed.user.user_image.icon.url, class: 'is-rounded' %>
          </figure>
        <% end %>
      </div>
      <div class="media-content is-flex text-truncate-container">
        <%= link_to user_path(feed.user) do %>
          <span class="text-break text-truncate-1" title="<%= feed.user.nickname %>@<%= feed.user.username %>">
            <span class="has-text-grey-dark hover-underline"><%= feed.user.nickname %></span>
            <span class="has-text-grey-light">@<%= feed.user.username %></span>
          </span>
        <% end %>
        <span class="is-flex-shrink-0 has-text-grey-light">・<%= time_ago_in_words(feed.updated_at) %>前</span>
      </div>
      <% if user_signed_in? && feed.user == current_user %>
        <div class="media-right">
          <div class="dropdown is-right">
            <div class="dropdown-trigger">
              <button class="button is-white is-small" aria-haspopup="true" aria-controls="dropdown-menu">
                <span class="icon is-small">
                  <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                </span>
              </button>
            </div>
            <div class="dropdown-menu" id="dropdown-menu" role="menu">
              <div class="dropdown-content">
                <%= link_to edit_recipe_path(feed), class: 'dropdown-item' do %>
                  <span class="icon">
                    <i class="fas fa-edit"></i>
                  </span>
                  <span>編集する</span>
                <% end %>
                <%= link_to recipe_path(feed), method: :delete, data: { confirm: '本当にレシピを削除しますか？' }, class: 'dropdown-item' do %>
                  <span class="icon">
                    <i class="far fa-trash-alt"></i>
                  </span>
                  <span>削除する</span>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="card-image">
    <%= link_to recipe_path(feed) do %>
      <figure class="image is-1by1 mask-container">
        <%= image_tag feed.recipe_image.main.url %>
        <div class="mask has-text-centered">
          <p class="has-text-white mask-text">
            <span class="icon">
              <i class="far fa-heart"></i>
            </span>
            <span><%= feed.favorites_count %></span>
            <span class="icon ml-3">
              <i class="far fa-comment"></i>
            </span>
            <span><%= feed.comments_count %></span>
          </p>
        </div>
      </figure>
    <% end %>
  </div>
</div>
