<p class="has-text-grey-light"><%= feed_description(feed) %></p>
<div class="card mb-5" data-infinite-scroll-item="">
  <div class="card-content">
    <div class="media">
      <figure class="media-left">
        <p class="image is-24x24">
          <%= image_tag feed.user.user_image.url(:icon), class: 'is-rounded' %>
        </p>
      </figure>
      <div class="media-content is-1-line">
        <span><%= link_to feed.user.nickname, user_path(feed.user), title: feed.user.nickname, class: 'has-text-black-bis text-break hover-underline' %></span>
      </div>
      <% if user_signed_in? && feed.user == current_user %>
        <div class="media-right">
          <div class="dropdown is-right">
            <div class="dropdown-trigger">
              <button class="button is-white is-small" aria-haspopup="true" aria-controls="dropdown-menu">
                <span class="icon is-small">
                  <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                </span>
              </button>
            </div>
            <div class="dropdown-menu" id="dropdown-menu" role="menu">
              <div class="dropdown-content">
                  <%= link_to '編集する', edit_recipe_path(feed), class: 'dropdown-item' %>
                  <%= link_to '削除する', recipe_path(feed), method: :delete, data: {confirm: '本当にレシピを削除しますか？'}, class: 'dropdown-item' %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="card-image">
    <figure class="image is-1by1 has-mask">
      <%= link_to recipe_path(feed) do %>
        <%= image_tag feed.recipe_image.url(:main) %>
        <div class="mask has-text-centered">
          <p class="has-text-white">
            <span class="icon-text mr-3">
              <span class="icon">
                <i class="far fa-heart"></i>
              </span>
              <span><%= feed.favorites.size %></span>
            </span>
            <span class="icon-text">
              <span class="icon">
                <i class="far fa-comment"></i>
              </span>
              <span><%= feed.comments.size %></span>
            </span>
          </p>
        </div>
      <% end %>
    </figure>
  </div>
</div>
