<div class="media border-0 p-0 m-3 is-align-items-center rspec_recommend_user">
  <div class="media-left mr-4">
    <%= link_to user_path(user) do %>
      <figure class="image is-32x32">
        <%= image_tag user.user_image.icon.url, class: 'is-rounded' %>
      </figure>
    <% end %>
  </div>
  <div class="media-content">
    <%= link_to user_path(user) do %>
      <p class="is-size-6 text-truncate-container">
        <span class="has-text-grey-dark text-break hover-underline text-truncate-1"><%= user.nickname %></span>
      </p>
    <% end %>
    <p class="is-size-7 has-text-grey-light text-truncate-container">
      <span class="text-truncate-1"><%= recommended_description(user) %></span>
    </p>
  </div>
  <div class="media-right">
    <div class="js-follow-button-<%= user.id %>">
      <%= render 'shared/follow_button', user: user, size: 'is-small' %>
    </div>
  </div>
</div>
