<div class="media">
  <div class="media-left">
    <%= link_to recipe_path(recipe) do %>
      <figure class="image is-128x128">
        <%= image_tag recipe.first_image.resource_url(:thumb) %>
        <% if recipe.images_count >= 2 %>
          <div class="has-text-white has-text-right p-1 is-overlay">
            <span class="icon">
              <i class="fas fa-clone"></i>
            </span>
          </div>
        <% end %>
      </figure>
    <% end %>
  </div>
  <div class="media-content text-break">
    <%= link_to recipe_path(recipe) do %>
      <p class="title is-4 mb-3 text-truncate-container">
        <span class="has-text-grey-darker text-break hover-underline text-truncate-1"><%= recipe.title %></span>
      </p>
      <p class="mb-3 text-truncate-container">
        <span class="has-text-grey-dark text-truncate-3"><%= recipe.body %></span>
      </p>
    <% end %>
    <% unless recipe.tags.blank? %>
      <div class="tags are-medium">
        <% recipe.tags.each do |tag| %>
          <%= link_to tag_path(tag.name) do %>
            <span class="tag tag-link mr-2"><%= tag %></span>
          <% end %>
        <% end %>
      </div>
    <% end %>
    <p>
      <span class="icon-text mr-5">
        <span class="icon">
          <i class="far fa-heart"></i>
        </span>
        <span><%= recipe.favorites_count %></span>
      </span>
      <span class="icon-text mr-5">
        <span class="icon">
          <i class="far fa-comment"></i>
        </span>
        <span><%= recipe.comments_count %></span>
      </span>
      <time datetime="<%= recipe.updated_at %>">更新日：<%= l recipe.updated_at, format: :ymd %></time>
    </p>
  </div>
</div>
