<div class="block">
  <div class="media">
    <div class="media-left">
      <%= link_to recipe_path(recipe) do %>
        <figure class="image is-128x128">
          <%= image_tag recipe.recipe_image.thumb.url %>
        </figure>
      <% end %>
    </div>
    <div class="media-content text-break">
      <p class="is-size-4 mb-3 is-1-line">
        <span><%= link_to recipe.title, recipe_path(recipe), title: recipe.title, class: 'has-text-black-bis hover-underline' %></span>
      </p>
      <p class="is-3-lines mb-3">
        <span><%= recipe.body %></span>
      </p>
      <p class="content">
        <% recipe.tags.each do |tag| %>
          <span class="tag"><%= tag %></span>
        <% end %>
      </p>
      <p>
        <span class="icon-text mr-5">
          <span class="icon">
            <i class="far fa-heart"></i>
          </span>
          <span><%= recipe.favorites.size %></span>
        </span>
        <span class="icon-text mr-5">
          <span class="icon">
            <i class="far fa-comment"></i>
          </span>
          <span><%= recipe.comments.size %></span>
        </span>
        <time datetime="<%= recipe.updated_at %>">更新日：<%= l recipe.updated_at, format: :ymd %></time>
      </p>
    </div>
  </div>
</div>
