<div class="media">
  <div class="media-left">
    <%= link_to recipe_path(recipe) do %>
      <figure class="image is-128x128">
        <%= image_tag recipe.recipe_image.thumb.url %>
      </figure>
    <% end %>
  </div>
  <div class="media-content text-break">
    <%= link_to recipe_path(recipe) do %>
      <p class="is-size-4 mb-3 text-truncate-container">
        <span class="has-text-black-bis text-break hover-underline text-truncate-1" title="<%= recipe.title %>"><%= recipe.title %></span>
      </p>
      <p class="mb-3 text-truncate-container">
        <span class="has-text-black-bis text-truncate-3"><%= recipe.body %></span>
      </p>
    <% end %>
    <p class="content">
      <% recipe.tags.each do |tag| %>
        <%= link_to tag_path(tag.name) do %>
          <span class="tag is-medium tag-link"><%= tag %></span>
        <% end %>
      <% end %>
    </p>
    <p>
      <span class="icon-text mr-5">
        <span class="icon">
          <i class="far fa-heart"></i>
        </span>
        <span><%= recipe.favorites_count %></span>
      </span>
      <span class="icon-text mr-5">
        <span class="icon">
          <i class="far fa-comment"></i>
        </span>
        <span><%= recipe.comments_count %></span>
      </span>
      <time datetime="<%= recipe.updated_at %>">更新日：<%= l recipe.updated_at, format: :ymd %></time>
    </p>
  </div>
</div>
