<div class="media">
  <div class="media-content">
    <div class="content">
      <%= link_to tag_path(tag.name), class: 'is-flex is-align-items-center' do %>
        <span class="tag is-medium tag-link"><%= tag %></span>
        <p class="ml-5 has-text-black-bis"><%= tag.taggings_count %>件の投稿</p>
      <% end %>
    </div>
    <div class="columns is-multiline is-mobile is-variable is-1">
      <% @tagged_recipes[tag.name].each do |recipe| %>
        <div class="column is-2">
          <div class="card">
            <div class="card-image">
              <%= link_to recipe_path(recipe) do %>
                <figure class="image is-1by1 has-mask">
                  <%= image_tag recipe.recipe_image.thumb.url %>
                  <div class="mask has-text-centered">
                    <p class="has-text-white">
                      <span class="icon-text mr-3">
                        <span class="icon is-small">
                          <i class="far fa-heart"></i>
                        </span>
                        <span class="is-size-6"><%= recipe.favorites.size %></span>
                      </span>
                      <span class="icon-text">
                        <span class="icon is-small">
                          <i class="far fa-comment"></i>
                        </span>
                        <span class="is-size-6"><%= recipe.comments.size %></span>
                      </span>
                    </p>
                  </div>
                </figure>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
