<div class="media">
  <div class="media-left">
    <%= link_to user_path(user) do %>
      <figure class="image is-64x64">
        <%= image_tag user.user_image.thumb.url, class: 'is-rounded' %>
      </figure>
    <% end %>
  </div>
  <div class="media-content text-break">
    <%= link_to user_path(user) do %>
      <p class="is-size-4 text-truncate-container">
        <span class="has-text-black-bis hover-underline text-truncate-1" title="<%= user.nickname %>"><%= user.nickname %></span>
      </p>
      <p class="has-text-grey-light mb-3">@<%= user.username %></p>
      <p class="mb-3 text-truncate-container">
        <span class="has-text-black-bis text-truncate-3"><%= user.profile %></span>
      </p>
    <% end %>
    <p>
      <span class="mr-5">投稿<%= user.recipes_count %>件</span>
      <span class="mr-5">フォロワー<%= user.followers_count %>人</span>
      <span>フォロー中<%= user.followings_count %>人</span>
    </p>
  </div>
</div>
