<section class="section p-0-mobile">
  <div class="container">
    <div class="columns is-centered m-0-mobile is-multiline">
      <div class="column is-10-tablet is-6-desktop p-0-mobile" id="infinite-scroll-container" data-infinite-scroll="<%= @feeds.size == 20 %>">
        <%= render partial: 'home/feed', collection: @feeds %>
        <% if @feeds.size == 20 %>
          <div class="column is-12" id="remove-after-loading"><div class="loading-animation"></div></div>
        <% end %>
      </div>
      <div class="column is-4 is-hidden-touch">
        <div class="sticky">
          <% if user_signed_in? %>
            <div class="block">
              <div class="media is-align-items-center">
                <div class="media-left">
                  <%= link_to user_path(current_user) do %>
                    <figure class="image is-48x48">
                      <%= image_tag current_user.user_image.icon.url, class: 'is-rounded' %>
                    </figure>
                  <% end %>
                </div>
                <div class="media-content">
                  <%= link_to user_path(current_user) do %>
                    <p class="is-size-5 is-1-line">
                      <span class="has-text-black-bis text-break hover-underline" title="<%= current_user.nickname %>"><%= current_user.nickname %></span>
                    </p>
                  <% end %>
                </div>
                <div class="media-right">
                  <%= link_to 'プロフィールを編集', edit_users_path, class: 'button is-small is-rounded' %>
                </div>
              </div>
            </div>
          <% end %>

          <div class="block">
            <p class="has-text-grey-light">おすすめ</p>
            <%= render partial: 'recommended_user', collection: @recommended_users, as: 'user' %>
          </div>
          <div class="block">
            <%= render 'layouts/footer' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
