<% if user_signed_in? %>
  <section class="section p-0-mobile">
    <div class="container">
      <div class="columns is-centered m-0-mobile is-multiline">
        <div class="column is-10-tablet is-6-desktop p-0-mobile" id="infinite-scroll-container" data-infinite-scroll="true">
          <%= render partial: 'home/feed', collection: @feed_items %>
          <% if @feed_items.size >= 20 %>
            <div class="column is-12" id="remove-after-loading"><div class="loading-animation"></div></div>
          <% end %>
        </div>
        <div class="column is-4 is-hidden-touch">
          <div class="sticky">
            <div class="block">
              <div class="media">
                <div class="media-left">
                  <%= link_to user_path(current_user) do %>
                    <figure class="image is-48x48">
                      <%= image_tag current_user.user_image.icon.url, class: 'is-rounded' %>
                    </figure>
                  <% end %>
                </div>
                <div class="media-content margin-auto-0">
                  <p class="is-size-5 is-1-line">
                    <span><%= link_to current_user.nickname, user_path(current_user), title: current_user.nickname, class: 'has-text-black-bis text-break hover-underline' %></span>
                  </p>
                </div>
                <div class="media-right margin-auto-0">
                  <%= link_to 'プロフィールを編集', edit_users_path, class: 'button is-small is-rounded' %>
                </div>
              </div>
            </div>

            <div class="block">
              <p class="block has-text-grey-light p-0 m-3">おすすめ</p>
              <%= render partial: 'recommended_user', collection: @recommended_users, as: 'user' %>
            </div>
            <div class="block">
              <%= render 'layouts/footer' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<% else %>
  <section class="section">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-5">
          <p class="title is-1 has-text-centered mb-6 recipegram">Recipegram</p>
          <%= link_to 'ゲストユーザーとしてログイン', users_guest_sign_in_path, method: :post, class: 'button is-fullwidth is-rounded is-primary is-light mb-5' %>
          <%= link_to 'ログイン', new_user_session_path, class: 'button is-fullwidth is-rounded is-primary mb-5' %>
          <%= link_to '新規登録', new_user_registration_path, class: 'button is-fullwidth is-rounded is-success' %>
        </div>
      </div>
    </div>
  </section>
<% end %>
