<% if user_signed_in? %>
  <section class="section">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-6" id="infinite-scroll-container" data-infinite-scroll="true">
          <%= render partial: 'home/feed', collection: @feed_items %>
        </div>
        <div class="column is-3 is-hidden-mobile">
          <div class="sticky">
            <%= render 'shared/user_card', user: current_user %>
          </div>
        </div>
      </div>
    </div>
  </section>
<% else %>
  <section class="section">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-5">
          <p class="title is-1 has-text-centered mb-6" style="font-family: cursive;">Recipegram</p>
          <%= link_to "ゲストユーザーとしてログイン", users_guest_sign_in_path, method: :post, class: "button is-fullwidth is-rounded is-primary is-light mb-5" %>
          <%= link_to "ログイン", new_user_session_path, class: "button is-fullwidth is-rounded is-primary mb-5" %>
          <%= link_to "新規登録", new_user_registration_path, class: "button is-fullwidth is-rounded is-success" %>
        </div>
      </div>
      <div class="columns is-centered">
        <div class="column">
          <figure>
            <div class="main-image"></div>
          </figure>
        </div>
      </div>
    </div>
  </section>
<% end %>
