<% provide(:title, '検索') %>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-6">
        <%= form_with url: search_path, method: :get do |f| %>
          <div class="field has-addons">
            <div class="control is-expanded">
              <%= f.text_field :q, value: @q_value, autofocus: true, placeholder: 'レシピまたはユーザーを検索', required: true, class: 'input is-rounded' %>
              <%= f.hidden_field :source, value: @source %>
            </div>
            <div class="control">
              <%= button_tag type: 'submit', class: 'button is-rounded' do %>
                <i class="fas fa-search"></i>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <% if @q_value.present? %>
      <div class="columns is-centered is-hidden-desktop">
        <div class="column">
          <div class="tabs is-centered">
            <ul>
              <li class="<%= 'is-active' if @source == 'recipe_title' %>">
                <%= link_to search_path(q: @q_value, source: 'recipe_title'), class: 'has-text-weight-bold' do %>
                  <span>レシピ名</span>
                  <span class="tag is-grey is-rounded ml-2"><%= @recipe_title_results_size %></span>
                <% end %>
              </li>
              <li class="<%= 'is-active' if @source == 'recipe_body' %>">
                <%= link_to search_path(q: @q_value, source: 'recipe_body'), class: 'has-text-weight-bold' do %>
                  <span>作り方</span>
                  <span class="tag is-grey is-rounded ml-2"><%= @recipe_body_results_size %></span>
                <% end %>
              </li>
              <li class="<%= 'is-active' if @source == 'user_username' %>">
                <%= link_to search_path(q: @q_value, source: 'user_username'), class: 'has-text-weight-bold' do %>
                  <span>ユーザー名</span>
                  <span class="tag is-grey is-rounded ml-2"><%= @user_username_results_size %></span>
                <% end %>
              </li>
              <li class="<%= 'is-active' if @source == 'user_profile' %>">
                <%= link_to search_path(q: @q_value, source: 'user_profile'), class: 'has-text-weight-bold' do %>
                  <span>プロフィール</span>
                  <span class="tag is-grey is-rounded ml-2"><%= @user_profile_results_size %></span>
                <% end %>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="columns is-centered">
        <div class="column is-2 is-hidden-touch">
          <aside class="menu sticky">
            <ul class="menu-list">
              <li class="<%= 'is-active' if @source == 'recipe_title' %>">
                <%= link_to search_path(q: @q_value, source: 'recipe_title'), class: 'has-text-weight-bold' do %>
                  <span>レシピ名</span>
                  <span class="tag is-grey is-rounded ml-2 has-text-right"><%= @recipe_title_results_size %></span>
                <% end %>
              </li>
              <li class="<%= 'is-active' if @source == 'recipe_body' %>">
                <%= link_to search_path(q: @q_value, source: 'recipe_body'), class: 'has-text-weight-bold' do %>
                  <span>作り方</span>
                  <span class="tag is-grey is-rounded ml-2"><%= @recipe_body_results_size %></span>
                <% end %>
              </li>
              <li class="<%= 'is-active' if @source == 'user_username' %>">
                <%= link_to search_path(q: @q_value, source: 'user_username'), class: 'has-text-weight-bold' do %>
                  <span>ユーザー名</span>
                  <span class="tag is-grey is-rounded ml-2"><%= @user_username_results_size %></span>
                <% end %>
              </li>
              <li class="<%= 'is-active' if @source == 'user_profile' %>">
                <%= link_to search_path(q: @q_value, source: 'user_profile'), class: 'has-text-weight-bold' do %>
                  <span>プロフィール</span>
                  <span class="tag is-grey is-rounded ml-2"><%= @user_profile_results_size %></span>
                <% end %>
              </li>
            </ul>
          </aside>
        </div>

        <% if @source == 'recipe_title' || @source == 'recipe_body' %>
          <div class="column is-10">
            <% if @too_much_results %>
              <p class="has-text-centered">検索結果の合計数が全レシピ数と一致しています。</p>
              <p class="has-text-centered">より具体的なキーワードで検索してください。</p>
            <% elsif @source == 'recipe_title' && @recipe_title_results.exists? %>
              <%= render partial: 'result', collection: @recipe_title_results %>
            <% elsif @source == 'recipe_body' && @recipe_body_results.exists? %>
              <%= render partial: 'result', collection: @recipe_body_results %>
            <% else %>
              <p class="has-text-centered text-break"><%= "「#{@q_value}」は見つかりませんでした。" %></p>
            <% end %>
          </div>
        <% end %>

        <% if @source == 'user_username' || @source == 'user_profile' %>
          <div class="column is-10">
            <% if @too_much_results %>
              <p class="has-text-centered">検索結果の数合計が全ユーザー数と一致しています。</p>
              <p class="has-text-centered">より具体的なキーワードで検索してください。</p>
            <% elsif @source == 'user_username' && @user_username_results.exists? %>
              <%= render partial: 'user_result', collection: @user_username_results, as: 'result' %>
            <% elsif @source == 'user_profile' && @user_username_results.exists? %>
              <%= render partial: 'user_result', collection: @user_profile_results, as: 'result' %>
            <% else %>
              <p class="has-text-centered text-break"><%= "「#{@q_value}」は見つかりませんでした。" %></p>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</section>
