<% provide(:title, '検索') %>

<section class="section">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-6">
          <%= search_form_for @q, url: search_path do |f| %>
            <div class="field has-addons">
              <div class="control is-expanded">
                <%= f.search_field :title_has_every_term, autofocus: true, placeholder: 'キーワードを入力…', required: true, class: 'input is-rounded' %>
              </div>
                <div class="control">
                  <%= button_tag type: 'submit', class: 'button is-rounded' do %>
                    <i class="fas fa-search"></i>
                  <% end %>
                </div>
            </div>
          <% end %>
        </div>
      </div>
      <% if @q.conditions.present? %>
        <div class="columns is-centered">
          <div class="column is-5">
            <% if @results.exists? %>
              <%= render partial: 'result', collection: @results %>
            <% else %>
              <p class="has-text-centered"><%= "「#{@q_word}」は見つかりませんでした。" %></p>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </section>
