<% @q_value.present? ? provide(:title, "「#{@q_value}」の検索結果") : provide(:title, '検索') %>

<section class="section">
  <div class="container is-fullhd">
    <div class="columns is-centered">
      <div class="column is-6">
        <%= form_with url: search_path, method: :get do |f| %>
          <div class="field has-addons">
            <div class="control is-expanded">
              <%= f.text_field :q, value: @q_value, placeholder: 'レシピまたはユーザーを検索', required: true, class: 'input is-rounded', id: 'search_query' %>
              <%= f.hidden_field :source, value: @source %>
            </div>
            <div class="control">
              <%= button_tag type: 'submit', name: nil, class: 'button is-rounded', id: 'search', disabled: true do %>
                <i class="fas fa-search"></i>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <% if request.query_string.present? && @q_value.blank? %>
      <div class="columns is-centered">
        <div class="column">
          <p class="has-text-centered-touch">検索キーワードがありません。</p>
        </div>
      </div>
    <% elsif request.query_string.present? && @q_value.present? %>
      <div class="columns is-centered is-hidden-desktop">
        <div class="column">
          <div class="tabs is-centered">
            <ul>
              <li class="<%= 'is-active' if @source == 'recipe_title' %>">
                <%= link_to search_path(q: @q_value, source: 'recipe_title'), class: 'has-text-weight-bold' do %>
                  <span>レシピ名</span>
                  <span class="tag is-rounded ml-2 rspec_recipe_title_results_size <%= 'is-grey' if @recipe_title_results_size != 0 %>">
                    <%= @recipe_title_results_size %>
                  </span>
                <% end %>
              </li>
              <li class="<%= 'is-active' if @source == 'recipe_body' %>">
                <%= link_to search_path(q: @q_value, source: 'recipe_body'), class: 'has-text-weight-bold' do %>
                  <span>作り方</span>
                  <span class="tag is-rounded ml-2 rspec_recipe_body_results_size <%= 'is-grey' if @recipe_body_results_size != 0 %>">
                    <%= @recipe_body_results_size %>
                  </span>
                <% end %>
              </li>
              <li class="<%= 'is-active' if @source == 'user_username' %>">
                <%= link_to search_path(q: @q_value, source: 'user_username'), class: 'has-text-weight-bold' do %>
                  <span>ユーザー名</span>
                  <span class="tag is-rounded ml-2 rspec_user_username_results_size <%= 'is-grey' if @user_username_results_size != 0 %>">
                    <%= @user_username_results_size %>
                  </span>
                <% end %>
              </li>
              <li class="<%= 'is-active' if @source == 'user_profile' %>">
                <%= link_to search_path(q: @q_value, source: 'user_profile'), class: 'has-text-weight-bold' do %>
                  <span>プロフィール</span>
                  <span class="tag is-rounded ml-2 rspec_user_profile_results_size <%= 'is-grey' if @user_profile_results_size != 0 %>">
                    <%= @user_profile_results_size %>
                  </span>
                <% end %>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="columns is-centered">
        <div class="column is-one-fifth is-2-widescreen is-hidden-touch">
          <aside class="menu sticky">
            <ul class="menu-list">
              <li class="<%= 'is-active' if @source == 'recipe_title' %>">
                <%= link_to search_path(q: @q_value, source: 'recipe_title'), class: 'has-text-weight-bold px-4 py-3' do %>
                  <span>レシピ名</span>
                  <span class="tag is-rounded float-right menu-tag rspec_recipe_title_results_size <%= 'is-grey' if @recipe_title_results_size != 0 %>">
                    <%= @recipe_title_results_size %>
                  </span>
                <% end %>
              </li>
              <li class="<%= 'is-active' if @source == 'recipe_body' %>">
                <%= link_to search_path(q: @q_value, source: 'recipe_body'), class: 'has-text-weight-bold px-4 py-3' do %>
                  <span>作り方</span>
                  <span class="tag is-rounded float-right menu-tag rspec_recipe_body_results_size <%= 'is-grey' if @recipe_body_results_size != 0 %>">
                    <%= @recipe_body_results_size %>
                  </span>
                <% end %>
              </li>
              <li class="<%= 'is-active' if @source == 'user_username' %>">
                <%= link_to search_path(q: @q_value, source: 'user_username'), class: 'has-text-weight-bold px-4 py-3' do %>
                  <span>ユーザー名</span>
                  <span class="tag is-rounded float-right menu-tag rspec_user_username_results_size <%= 'is-grey' if @user_username_results_size != 0 %>">
                    <%= @user_username_results_size %>
                  </span>
                <% end %>
              </li>
              <li class="<%= 'is-active' if @source == 'user_profile' %>">
                <%= link_to search_path(q: @q_value, source: 'user_profile'), class: 'has-text-weight-bold px-4 py-3' do %>
                  <span>プロフィール</span>
                  <span class="tag is-rounded float-right menu-tag rspec_user_profile_results_size <%= 'is-grey' if @user_profile_results_size != 0 %>">
                    <%= @user_profile_results_size %>
                  </span>
                <% end %>
              </li>
            </ul>
          </aside>
        </div>

        <% if @source == 'recipe_title' || @source == 'recipe_body' %>
          <div class="column is-9">
            <% if @recipe_title_results.exists? || @recipe_body_results.exists? %>
              <nav class="level is-mobile">
                <div class="level-left">
                  <div class="level-item"><%= @recipe_title_results_size %>件の検索結果</div>
                </div>
                <div class="level-right">
                  <div class="level-item dropdown">
                    <div class="dropdown-trigger">
                      <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                        <span>Dropdown button</span>
                        <span class="icon is-small">
                          <i class="fas fa-angle-down" aria-hidden="true"></i>
                        </span>
                      </button>
                    </div>
                    <div class="dropdown-menu" id="dropdown-menu" role="menu">
                      <div class="dropdown-content">
                        <%= link_to 'デフォルト', search_path(q: @q_value, source: @source), class: 'dropdown-item is-active' %>
                        <%= link_to '更新日昇順', search_path(q: @q_value, source: @source, sort: 'updated_at', order: 'asc'), class: 'dropdown-item' %>
                        <%= link_to '更新日降順', search_path(q: @q_value, source: @source, sort: 'updated_at', order: 'desc'), class: 'dropdown-item' %>
                        <%= link_to 'いいね数昇順', search_path(q: @q_value, source: @source, sort: 'favorites_count', order: 'asc'), class: 'dropdown-item' %>
                        <%= link_to 'いいね数降順', search_path(q: @q_value, source: @source, sort: 'favorites_count', order: 'desc'), class: 'dropdown-item' %>
                      </div>
                    </div>
                  </div>
                </div>
              </nav>
            <% end %>
            <% if @source == 'recipe_title' && @recipe_title_results.exists? %>
              <div class="rspec_recipe_title_results">
                <%= render partial: 'recipe_result', collection: @recipe_title_results, as: 'recipe' %>
                <%= paginate @recipe_title_results, window: 2, outer_window: 1 %>
              </div>
            <% elsif @source == 'recipe_body' && @recipe_body_results.exists? %>
              <div class="rspec_recipe_body_results">
                <%= render partial: 'recipe_result', collection: @recipe_body_results, as: 'recipe' %>
                <%= paginate @recipe_body_results, window: 2, outer_window: 1 %>
              </div>
            <% else %>
              <div class="<%= 'rspec_recipe_title_results' if @source == 'recipe_title' %> <%= 'rspec_recipe_body_results' if @source == 'recipe_body' %>">
                <p class="has-text-centered-touch text-break"><%= "「#{@q_value}」は見つかりませんでした。" %></p>
              </div>
            <% end %>
          </div>
        <% end %>

        <% if @source == 'user_username' || @source == 'user_profile' %>
          <div class="column is-9">
            <% if @source == 'user_username' && @user_username_results.exists? %>
              <div class="rspec_user_username_results">
                <%= render partial: 'user_result', collection: @user_username_results, as: 'user' %>
                <%= paginate @user_username_results, window: 2, outer_window: 1 %>
              </div>
            <% elsif @source == 'user_profile' && @user_profile_results.exists? %>
              <div class="rspec_user_profile_results">
                <%= render partial: 'user_result', collection: @user_profile_results, as: 'user' %>
                <%= paginate @user_profile_results, window: 2, outer_window: 1 %>
              </div>
            <% else %>
              <div class="<%= 'rspec_user_username_results' if @source == 'user_username' %> <%= 'rspec_user_profile_results' if @source == 'user_profile' %>">
                <p class="has-text-centered-touch text-break"><%= "「#{@q_value}」は見つかりませんでした。" %></p>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</section>
