<% @q_value.present? ? provide(:title, "「#{@q_value}」の検索結果") : provide(:title, '検索') %>

<section class="section">
  <div class="container is-fullhd">
    <div class="columns is-centered is-hidden-desktop">
      <div class="column is-6">
        <%= form_with url: search_path, method: :get do |f| %>
          <div class="field">
            <div class="control has-icons-left is-expanded">
              <span class="icon is-small is-left">
                <i class="fas fa-search"></i>
              </span>
              <%= f.text_field :q, value: @q_value, placeholder: 'レシピまたはユーザーを検索', required: true, type: 'search', class: 'input js-search-input' %>
              <%= f.hidden_field :source, value: @source %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <% if request.query_string.present? && @q_value.blank? %>
      <div class="columns is-centered">
        <div class="column">
          <p class="has-text-centered-touch">検索キーワードがありません。</p>
        </div>
      </div>
    <% elsif request.query_string.present? && @q_value.present? %>
      <div class="columns is-centered is-hidden-desktop">
        <div class="column">
          <div class="tabs is-centered">
            <ul>
              <li class="<%= 'is-active' if @source == 'recipe_title' %>">
                <%= link_to search_path(q: @q_value, source: 'recipe_title'), class: 'has-text-weight-bold' do %>
                  <span>レシピ名</span>
                  <span class="tag is-rounded ml-2 <%= 'is-grey' unless @result_counts[:title].zero? %>">
                    <%= @result_counts[:title] %>
                  </span>
                <% end %>
              </li>
              <li class="<%= 'is-active' if @source == 'recipe_body' %>">
                <%= link_to search_path(q: @q_value, source: 'recipe_body'), class: 'has-text-weight-bold' do %>
                  <span>作り方</span>
                  <span class="tag is-rounded ml-2 <%= 'is-grey' unless @result_counts[:body].zero? %>">
                    <%= @result_counts[:body] %>
                  </span>
                <% end %>
              </li>
              <li class="<%= 'is-active' if @source == 'user_nickname' %>">
                <%= link_to search_path(q: @q_value, source: 'user_nickname'), class: 'has-text-weight-bold' do %>
                  <span>ニックネーム</span>
                  <span class="tag is-rounded ml-2 <%= 'is-grey' unless @result_counts[:nickname].zero? %>">
                    <%= @result_counts[:nickname] %>
                  </span>
                <% end %>
              </li>
              <li class="<%= 'is-active' if @source == 'user_profile' %>">
                <%= link_to search_path(q: @q_value, source: 'user_profile'), class: 'has-text-weight-bold' do %>
                  <span>プロフィール</span>
                  <span class="tag is-rounded ml-2 <%= 'is-grey' unless @result_counts[:profile].zero? %>">
                    <%= @result_counts[:profile] %>
                  </span>
                <% end %>
              </li>
              <li class="<%= 'is-active' if @source == 'tag_name' %>">
                <%= link_to search_path(q: @q_value, source: 'tag_name'), class: 'has-text-weight-bold' do %>
                  <span>タグ</span>
                  <span class="tag is-rounded ml-2 <%= 'is-grey' unless @result_counts[:name].zero? %>">
                    <%= @result_counts[:name] %>
                  </span>
                <% end %>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="columns is-centered">
        <div class="column is-one-fifth is-2-widescreen is-hidden-touch">
          <aside class="menu sticky">
            <ul class="menu-list">
              <li class="<%= 'is-active' if @source == 'recipe_title' %>">
                <%= link_to search_path(q: @q_value, source: 'recipe_title'), class: 'has-text-weight-bold px-4 py-3' do %>
                  <span>レシピ名</span>
                  <span class="tag is-rounded is-pulled-right menu-tag rspec_recipe_title_results_size <%= 'is-grey' unless @result_counts[:title].zero? %>">
                    <%= @result_counts[:title] %>
                  </span>
                <% end %>
              </li>
              <li class="<%= 'is-active' if @source == 'recipe_body' %>">
                <%= link_to search_path(q: @q_value, source: 'recipe_body'), class: 'has-text-weight-bold px-4 py-3' do %>
                  <span>作り方</span>
                  <span class="tag is-rounded is-pulled-right menu-tag rspec_recipe_body_results_size <%= 'is-grey' unless @result_counts[:body].zero? %>">
                    <%= @result_counts[:body] %>
                  </span>
                <% end %>
              </li>
              <li class="<%= 'is-active' if @source == 'user_nickname' %>">
                <%= link_to search_path(q: @q_value, source: 'user_nickname'), class: 'has-text-weight-bold px-4 py-3' do %>
                  <span>ニックネーム</span>
                  <span class="tag is-rounded is-pulled-right menu-tag rspec_user_nickname_results_size <%= 'is-grey' unless @result_counts[:nickname].zero? %>">
                    <%= @result_counts[:nickname] %>
                  </span>
                <% end %>
              </li>
              <li class="<%= 'is-active' if @source == 'user_profile' %>">
                <%= link_to search_path(q: @q_value, source: 'user_profile'), class: 'has-text-weight-bold px-4 py-3' do %>
                  <span>プロフィール</span>
                  <span class="tag is-rounded is-pulled-right menu-tag rspec_user_profile_results_size <%= 'is-grey' unless @result_counts[:profile].zero? %>">
                    <%= @result_counts[:profile] %>
                  </span>
                <% end %>
              </li>
              <li class="<%= 'is-active' if @source == 'tag_name' %>">
                <%= link_to search_path(q: @q_value, source: 'tag_name'), class: 'has-text-weight-bold px-4 py-3' do %>
                  <span>タグ</span>
                  <span class="tag is-rounded is-pulled-right menu-tag rspec_tag_name_results_size <%= 'is-grey' unless @result_counts[:name].zero? %>">
                    <%= @result_counts[:name] %>
                  </span>
                <% end %>
              </li>
            </ul>
          </aside>
        </div>

        <div class="column is-9">
          <nav class="level is-mobile">
            <div class="level-left">
              <div class="level-item">「<%= @q_value %>」の検索結果</div>
            </div>
            <div class="level-right">
              <div class="level-item dropdown is-right">
                <div class="dropdown-trigger">
                  <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                    <span><%= selected_recipe_sort_order %></span>
                    <span class="icon is-small">
                      <i class="fas fa-angle-down" aria-hidden="true"></i>
                    </span>
                  </button>
                </div>
                <div class="dropdown-menu" id="dropdown-menu" role="menu">
                  <div class="dropdown-content">
                    <% if @source == 'recipe_title' || @source == 'recipe_body' %>
                      <%= link_to search_path(q: @q_value, source: @source, sort: 'updated_at', order: 'desc'), class: "dropdown-item #{'is-active' if request.query_parameters[:sort] == 'updated_at' && request.query_parameters[:order] == 'desc'}" do %>
                        <span class="icon-text">
                          <span class="icon">
                            <i class="far fa-clock"></i>
                          </span>
                          <span>更新日が新しい順</span>
                        </span>
                      <% end %>
                      <%= link_to search_path(q: @q_value, source: @source, sort: 'updated_at', order: 'asc'), class: "dropdown-item #{'is-active' if request.query_parameters[:sort] == 'updated_at' && request.query_parameters[:order] == 'asc'}" do %>
                        <span class="icon-text">
                          <span class="icon">
                            <i class="far fa-clock"></i>
                          </span>
                          <span>更新日が古い順</span>
                        </span>
                      <% end %>
                      <%= link_to search_path(q: @q_value, source: @source, sort: 'favorites_count', order: 'desc'), class: "dropdown-item #{'is-active' if request.query_parameters[:sort] == 'favorites_count' && request.query_parameters[:order] == 'desc'}" do %>
                        <span class="icon-text">
                          <span class="icon">
                            <i class="far fa-heart"></i>
                          </span>
                          <span>いいねが多い順</span>
                        </span>
                      <% end %>
                      <%= link_to search_path(q: @q_value, source: @source, sort: 'favorites_count', order: 'asc'), class: "dropdown-item #{'is-active' if request.query_parameters[:sort] == 'favorites_count' && request.query_parameters[:order] == 'asc'}" do %>
                        <span class="icon-text">
                          <span class="icon">
                            <i class="far fa-heart"></i>
                          </span>
                          <span>いいねが少ない順</span>
                        </span>
                      <% end %>
                      <%= link_to search_path(q: @q_value, source: @source, sort: 'comments_count', order: 'desc'), class: "dropdown-item #{'is-active' if request.query_parameters[:sort] == 'comments_count' && request.query_parameters[:order] == 'desc'}" do %>
                        <span class="icon-text">
                          <span class="icon">
                            <i class="far fa-comment"></i>
                          </span>
                          <span>コメントが多い順</span>
                        </span>
                      <% end %>
                      <%= link_to search_path(q: @q_value, source: @source, sort: 'comments_count', order: 'asc'), class: "dropdown-item #{'is-active' if request.query_parameters[:sort] == 'comments_count' && request.query_parameters[:order] == 'asc'}" do %>
                        <span class="icon-text">
                          <span class="icon">
                            <i class="far fa-comment"></i>
                          </span>
                          <span>コメントが少ない順</span>
                        </span>
                      <% end %>
                    <% elsif @source == 'user_nickname' || @source == 'user_profile' %>
                      <%= link_to search_path(q: @q_value, source: @source, sort: 'recipes_count', order: 'desc'), class: "dropdown-item #{'is-active' if request.query_parameters[:sort] == 'recipes_count' && request.query_parameters[:order] == 'desc'}" do %>
                        <span class="icon-text">
                          <span class="icon">
                            <i class="fas fa-border-all"></i>
                          </span>
                          <span>投稿が多い順</span>
                        </span>
                      <% end %>
                      <%= link_to search_path(q: @q_value, source: @source, sort: 'recipes_count', order: 'asc'), class: "dropdown-item #{'is-active' if request.query_parameters[:sort] == 'recipes_count' && request.query_parameters[:order] == 'asc'}" do %>
                        <span class="icon-text">
                          <span class="icon">
                            <i class="fas fa-border-all"></i>
                          </span>
                          <span>投稿が少ない順</span>
                        </span>
                      <% end %>
                      <%= link_to search_path(q: @q_value, source: @source, sort: 'followers_count', order: 'desc'), class: "dropdown-item #{'is-active' if request.query_parameters[:sort] == 'followers_count' && request.query_parameters[:order] == 'desc'}" do %>
                        <span class="icon-text">
                          <span class="icon">
                            <i class="fas fa-users"></i>
                          </span>
                          <span>フォロワーが多い順</span>
                        </span>
                      <% end %>
                      <%= link_to search_path(q: @q_value, source: @source, sort: 'followers_count', order: 'asc'), class: "dropdown-item #{'is-active' if request.query_parameters[:sort] == 'followers_count' && request.query_parameters[:order] == 'asc'}" do %>
                        <span class="icon-text">
                          <span class="icon">
                            <i class="fas fa-users"></i>
                          </span>
                          <span>フォロワーが少ない順</span>
                        </span>
                      <% end %>
                      <%= link_to search_path(q: @q_value, source: @source, sort: 'followings_count', order: 'desc'), class: "dropdown-item #{'is-active' if request.query_parameters[:sort] == 'followings_count' && request.query_parameters[:order] == 'desc'}" do %>
                        <span class="icon-text">
                          <span class="icon">
                            <i class="fas fa-users"></i>
                          </span>
                          <span>フォロー中が多い順</span>
                        </span>
                      <% end %>
                      <%= link_to search_path(q: @q_value, source: @source, sort: 'followings_count', order: 'asc'), class: "dropdown-item #{'is-active' if request.query_parameters[:sort] == 'followings_count' && request.query_parameters[:order] == 'asc'}" do %>
                        <span class="icon-text">
                          <span class="icon">
                            <i class="fas fa-users"></i>
                          </span>
                          <span>フォロー中が少ない順</span>
                        </span>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </nav>

          <% if @source == 'recipe_title' %>
            <div class="rspec_recipe_title_results mb-5">
              <% if @recipe_title_results.exists? %>
                <%= render partial: 'recipe_result', collection: @recipe_title_results, as: 'recipe' %>
              <% else %>
                <p class="has-text-centered-touch text-break"><%= "「#{@q_value}」は見つかりませんでした。" %></p>
              <% end %>
            </div>
            <%= paginate @recipe_title_results, window: 2, outer_window: 1 %>
          <% elsif @source == 'recipe_body' %>
            <div class="rspec_recipe_body_results mb-5">
              <% if @recipe_title_results.exists? %>
                <%= render partial: 'recipe_result', collection: @recipe_body_results, as: 'recipe' %>
              <% else %>
                <p class="has-text-centered-touch text-break"><%= "「#{@q_value}」は見つかりませんでした。" %></p>
              <% end %>
            </div>
            <%= paginate @recipe_body_results, window: 2, outer_window: 1 %>
          <% elsif @source == 'user_nickname' %>
            <div class="rspec_user_nickname_results mb-5">
              <% if @source == 'user_nickname' && @user_nickname_results.exists? %>
                <%= render partial: 'user_result', collection: @user_nickname_results, as: 'user' %>
              <% else %>
                <p class="has-text-centered-touch text-break"><%= "「#{@q_value}」は見つかりませんでした。" %></p>
              <% end %>
            </div>
            <%= paginate @user_nickname_results, window: 2, outer_window: 1 %>
          <% elsif @source == 'user_profile' %>
            <div class="rspec_user_profile_results mb-5">
              <% if @user_profile_results.exists? %>
                <%= render partial: 'user_result', collection: @user_profile_results, as: 'user' %>
              <% else %>
                <p class="has-text-centered-touch text-break"><%= "「#{@q_value}」は見つかりませんでした。" %></p>
              <% end %>
            </div>
            <%= paginate @user_profile_results, window: 2, outer_window: 1 %>
          <% else %>
            <div class="rspec_tag_name_results mb-5">
              <% if @tag_name_results.exists? %>
                <%= render partial: 'tag_result', collection: @tag_name_results, as: 'tag' %>
              <% else %>
                <p class="has-text-centered-touch text-break"><%= "「#{@q_value}」は見つかりませんでした。" %></p>
              <% end %>
            </div>
            <%= paginate @tag_name_results, window: 2, outer_window: 1 %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</section>
