<% provide(:title, "#{@tag.name}に関するレシピ一覧") %>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-8">
        <div class="media mb-6">
          <div class="media-left">
            <figure class="image is-128x128">
              <%= image_tag @tagged_recipes.sample.first_image.url(:thumb), class: 'is-rounded' %>
            </figure>
          </div>
          <div class="media-content">
            <h1 class="title"><%= @tag.name %></h1>
            <p><%= @tag.taggings_count %>件の投稿</p>
          </div>
          <div class="media-right is-align-self-center" id="tag-follow-button-container">
            <%= render 'follow_button', tag: @tag %>
          </div>
        </div>
      </div>
    </div>

    <div class="columns is-multiline is-mobile" id="pageables-container">
      <%= render @tagged_recipes %>
    </div>
    <% if @tagged_recipes.next_page %>
      <div class="loading-animation" id="loading-animation"></div>
      <div id="next-page-link-container">
        <%= render 'shared/next_page_link', pageables: @tagged_recipes %>
      </div>
    <% end %>
  </div>
</section>
