<% provide(:title, t('.sign_in')) %>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-5">
        <%= link_to root_path do %>
          <p class="title is-1 has-text-centered mb-6 recipegram">Recipegram</p>
        <% end %>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.label :email, class: 'label' %>
            <div class="control">
              <%= f.email_field :email, autofocus: true, autocomplete: 'email', required: true, class: 'input' %>
            </div>
          </div>

          <div class="field">
            <%= f.label :password, class: 'label' %>
          </div>
          <div class="field is-grouped password-area">
            <div class="control is-expanded">
              <%= f.password_field :password, autocomplete: 'current-password', required: true, minlength: @minimum_password_length, maxlength: '128', class: 'input' %>
            </div>
            <p class="control password-mask">
              <button class="button" title="パスワードを表示する" onclick="return false;">
                <span class="icon is-small">
                  <i class="far fa-eye-slash"></i>
                </span>
              </button>
            </p>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="field">
              <%= f.label :remember_me, class: 'checkbox' do %>
                <%= f.check_box :remember_me %>
                <%= resource.class.human_attribute_name('remember_me') %>
              <% end %>
            </div>
          <% end %>

          <div class="field">
            <%= f.submit t('.sign_in'), class: 'button is-fullwidth is-rounded is-primary', id: 'signin', disabled: true %>
          </div>
        <% end %>

        <%= render 'devise/shared/links' %>
      </div>
    </div>
  </div>
</section>
