<header>
  <nav class="navbar navbar-border is-fixed-top is-white is-inline-flex is-justify-content-space-around is-align-items-center" role="navigation" aria-label="main navigation">
    <div class="navbar-brand is-justify-content-center is-flex-grow-2">
      <%= link_to root_path, class: 'navbar-item' do %>
        <h1 class="title is-4 is-size-5-mobile recipegram">Recipegram</h1>
      <% end %>
    </div>

    <div class="navbar-menu is-justify-content-center is-flex-grow-1 w-one-thirds">
      <div class="navbar-item is-justify-content-center w-full p-0">
        <%= form_with url: search_path, method: :get, html: { class: 'w-full' } do |f| %>
          <div class="field">
            <div class="control has-icons-left is-expanded">
              <span class="icon is-small is-left">
                <i class="fas fa-search"></i>
              </span>
              <%= f.text_field :q, value: @q_value, placeholder: 'レシピまたはユーザーを検索', required: true, type: 'search', class: 'input js-search-input' %>
              <%= f.hidden_field :source, value: @source %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="navbar-item is-flex-touch is-justify-content-center is-flex-grow-1 p-0">
      <% if user_signed_in? %>
        <%= link_to root_path, class: 'navbar-item has-text-grey-darker', title: 'ホームへ' do %>
          <span class="icon is-medium">
            <i class="fas fa-lg fa-home"></i>
          </span>
        <% end %>

        <%= link_to search_path, class: 'navbar-item has-text-grey-darker is-hidden-desktop', title: '検索する' do %>
          <span class="icon is-medium">
            <i class="fas fa-lg fa-search"></i>
          </span>
        <% end %>

        <%= link_to new_recipe_path, class: 'navbar-item has-text-grey-darker', title: 'レシピを投稿する' do %>
          <span class="icon is-medium">
            <i class="fas fa-lg fa-pen"></i>
          </span>
        <% end %>

        <%= link_to notifications_path, class: 'navbar-item has-text-grey-darker', title: '通知一覧へ' do %>
          <span class="icon is-medium <%= 'has-unchecked-notification' if current_user.notifications.where(read: false).exists? %>">
            <i class="fas fa-lg fa-bell"></i>
          </span>
        <% end %>

        <div class="navbar-item dropdown is-right">
          <div class="dropdown-trigger rspec_header_dropdown_trigger">
            <button class="button is-white is-small is-rounded bg-color-transparent p-0" aria-haspopup="true" aria-controls="dropdown-menu">
              <figure class="image is-24x24">
                <%= image_tag current_user.user_image.icon.url, class: 'is-rounded' %>
              </figure>
            </button>
          </div>
          <div class="dropdown-menu" id="dropdown-menu" role="menu">
            <div class="dropdown-content">
              <%= link_to user_path(current_user), class: 'dropdown-item' do %>
                <span class="icon-text">
                  <span class="icon">
                    <i class="fas fa-user"></i>
                  </span>
                  <span>マイページ</span>
                </span>
              <% end %>
              <%= link_to user_comments_path(current_user), class: 'dropdown-item' do %>
                <span class="icon-text">
                  <span class="icon">
                    <i class="far fa-comment"></i>
                  </span>
                  <span>コメントしたレシピ</span>
                </span>
              <% end %>
              <%= link_to user_favorites_path(current_user), class: 'dropdown-item' do %>
                <span class="icon-text">
                  <span class="icon">
                    <i class="far fa-heart"></i>
                  </span>
                  <span>いいねしたレシピ</span>
                </span>
              <% end %>
              <hr class="dropdown-divider">
              <%= link_to edit_users_path, class: 'dropdown-item' do %>
                <span class="icon-text">
                  <span class="icon">
                    <i class="fas fa-user-edit"></i>
                  </span>
                  <span>プロフィール編集</span>
                </span>
              <% end %>
              <%= link_to edit_user_registration_path, class: 'dropdown-item' do %>
                <span class="icon-text">
                  <span class="icon">
                    <i class="fas fa-cog"></i>
                  </span>
                  <span>アカウント編集</span>
                </span>
              <% end %>
              <%= link_to users_confirm_destroy_path, class: 'dropdown-item' do %>
                <span class="icon-text">
                  <span class="icon">
                    <i class="fas fa-exclamation-triangle"></i>
                  </span>
                  <span>アカウント削除手続き</span>
                </span>
              <% end %>
              <hr class="dropdown-divider">
              <%= link_to destroy_user_session_path, method: :delete, class: 'dropdown-item' do %>
                <span class="icon-text">
                  <span class="icon">
                    <i class="fas fa-sign-out-alt"></i>
                  </span>
                  <span>ログアウト</span>
                </span>
              <% end %>
            </div>
          </div>
        </div>
      <% else %>
        <%= link_to 'ゲストログイン', users_guest_sign_in_path, method: :post, class: 'button is-small is-rounded is-info ml-1' %>
        <%= link_to 'ログイン', new_user_session_path, class: 'button is-small is-rounded is-info is-light ml-1' %>
        <%= link_to '登録', new_user_registration_path, class: 'button is-small is-rounded is-white ml-1' %>
      <% end %>
    </div>
  </nav>
</header>
