<nav class="navbar is-fixed-top is-warning px-5">
  <div class="navbar-brand">
    <%= link_to recipes_path, class: "navbar-item" do %>
      <h1 class="title is-4" style="font-family: cursive;">Recipegram</h1>
    <% end %>
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div class="navbar-menu" id="navbar">
    <div class="navbar-end">
      <div class="navbar-item has-dropdown is-hoverable">
        <div class="navbar-link is-arrowless is-hidden-touch">
          <%= link_to recipes_path do %>
            <span class="icon">
              <i class="fas fa-home"></i>
            </span>
          <% end %>
        </div>
        <div class="navbar-dropdown is-boxed is-right">
          <div class="navbar-item">
            <%= link_to "レシピ一覧", recipes_path %>
          </div>
          <div class="navbar-item">
            <%= link_to "レシレシピグラマー一覧", users_path %>
          </div>
        </div>
      </div>
      <div class="navbar-item has-dropdown is-hoverable">
        <div class="navbar-link is-arrowless is-hidden-touch">
          <%= link_to new_recipe_path do %>
            <span class="icon">
              <i class="fas fa-pen"></i>
            </span>
          <% end %>
        </div>
        <div class="navbar-dropdown is-boxed is-right">
          <div class="navbar-item">
            <%= link_to "レシピ投稿", new_recipe_path %>
          </div>
        </div>
      </div>
      <div class="navbar-item has-dropdown is-hoverable">
        <div class="navbar-link is-arrowless is-hidden-touch">
          <figure class="image is-32x32" style="margin-top: auto; margin-right: auto;">
            <%= attachment_image_tag current_user, :profile_image, fallback: "no-image.png" %>
          </figure>
        </div>
        <div class="navbar-dropdown is-boxed is-right">
          <div class="navbar-item">
            <%= link_to "マイページ", user_path(current_user) %>
          </div>
          <div class="navbar-item">
            <%= link_to "アカウント編集", edit_user_registration_path %>
          </div>
          <div class="navbar-item">
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
