<nav class="navbar is-fixed-top is-white" style="border-bottom: solid hsl(0, 0%, 86%);">
  <div class="navbar-brand">
    <%= link_to root_path, class: "navbar-item is-hidden-touch ml-6" do %>
      <h1 class="title is-4" style="font-family: cursive;">Recipegram</h1>
    <% end %>

    <%= link_to root_path, class: "navbar-item is-hidden-desktop" do %>
      <h1 class="title is-4" style="font-family: cursive;">Recipegram</h1>
    <% end %>

    <%= link_to recipes_path, class: "navbar-item ml-1 is-hidden-desktop", title: "レシピ一覧へ" do %>
      <span class="icon">
        <i class="fas fa-home"></i>
      </span>
    <% end %>

    <%= link_to users_path, class: "navbar-item ml-1 is-hidden-desktop", title: "ユーザ一覧へ" do %>
      <span class="icon">
        <i class="fas fa-users"></i>
      </span>
    <% end %>

    <%= link_to new_recipe_path, class: "navbar-item ml-1 is-hidden-desktop", title: "レシピを投稿する" do %>
      <span class="icon">
        <i class="fas fa-plus"></i>
      </span>
    <% end %>

    <%= link_to notifications_path, class: "navbar-item ml-1 is-hidden-desktop", title: "通知一覧へ" do %>
      <span class="icon <%= 'has-unchecked-notification' if current_user.passive_notifications.where(checked: false).exists? %>">
        <i class="fas fa-bell"></i>
      </span>
    <% end %>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div class="navbar-menu" id="navbar">
    <div class="navbar-item is-hidden-desktop">
      <%= link_to "マイページ", user_path(current_user), class: "navbar-item" %>
    </div>
    <div class="navbar-item is-hidden-desktop">
      <%= link_to "アカウント編集", edit_user_registration_path, class: "navbar-item" %>
    </div>
    <div class="navbar-item is-hidden-desktop">
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "navbar-item" %>
    </div>

    <div class="navbar-end">
      <%= link_to recipes_path, class: "navbar-item ml-2 is-hidden-touch", title: "レシピ一覧へ" do %>
        <span class="icon">
          <i class="fas fa-home"></i>
        </span>
      <% end %>

      <%= link_to users_path, class: "navbar-item ml-2 is-hidden-touch", title: "ユーザ一覧へ" do %>
        <span class="icon">
          <i class="fas fa-users"></i>
        </span>
      <% end %>

      <%= link_to new_recipe_path, class: "navbar-item ml-2 is-hidden-touch", title: "レシピを投稿する" do %>
        <span class="icon">
          <i class="fas fa-plus"></i>
        </span>
      <% end %>

      <%= link_to notifications_path, class: "navbar-item ml-2 is-hidden-touch", title: "通知一覧へ" do %>
        <span class="icon <%= 'has-unchecked-notification' if current_user.passive_notifications.where(checked: false).exists? %>">
          <i class="fas fa-bell"></i>
        </span>
      <% end %>

      <div class="navbar-item has-dropdown is-hoverable ml-2 mr-6 is-hidden-touch">
        <div class="navbar-link is-hidden-touch">
          <figure class="image is-24x24">
            <%= image_tag current_user.user_image.url(:icon), class: "is-rounded" %>
          </figure>
        </div>
        <div class="navbar-dropdown is-boxed is-right">
          <%= link_to "マイページ", user_path(current_user), class: "navbar-item" %>
          <%= link_to "アカウント編集", edit_user_registration_path, class: "navbar-item" %>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "navbar-item" %>
        </div>
      </div>
    </div>
  </div>
</nav>
