<nav class="navbar is-fixed-top is-warning">
  <div class="navbar-brand">
    <%= link_to recipes_path, class: "navbar-item is-hidden-touch" do %>
      <h1 class="title is-4 ml-6" style="font-family: cursive;">Recipegram</h1>
    <% end %>
    <%= link_to recipes_path, class: "navbar-item is-hidden-desktop" do %>
      <h1 class="title is-4" style="font-family: cursive;">Recipegram</h1>
    <% end %>
    <%= link_to recipes_path, class: "navbar-item ml-5 is-hidden-desktop", title: "レシピ一覧" do %>
      <span class="icon">
        <i class="fas fa-home"></i>
      </span>
    <% end %>
    <%= link_to new_recipe_path, class: "navbar-item ml-5 is-hidden-desktop", title: "レシピ投稿" do %>
      <span class="icon">
        <i class="fas fa-pen"></i>
      </span>
    <% end %>
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div class="navbar-menu" id="navbar">
    <div class="navbar-item is-hidden-desktop">
      <%= link_to "マイページ", user_path(current_user), class: "navbar-item" %>
    </div>
    <div class="navbar-item is-hidden-desktop">
      <%= link_to "アカウント編集", edit_user_registration_path, class: "navbar-item" %>
    </div>
    <div class="navbar-item is-hidden-desktop">
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "navbar-item" %>
    </div>
    <div class="navbar-end">
      <div class="navbar-item has-dropdown is-hoverable ml-2 is-hidden-touch">
        <%= link_to recipes_path, class: "navbar-link is-arrowless" do %>
          <span class="icon">
            <i class="fas fa-home"></i>
          </span>
        <% end %>
        <div class="navbar-dropdown is-boxed">
          <%= link_to "レシピ一覧", recipes_path, class: "navbar-item" %>
          <%= link_to "ユーザ一覧", users_path, class: "navbar-item" %>
        </div>
      </div>
      <div class="navbar-item has-dropdown is-hoverable ml-2 is-hidden-touch">
        <%= link_to new_recipe_path, class: "navbar-link is-arrowless" do %>
          <span class="icon">
            <i class="fas fa-pen"></i>
          </span>
        <% end %>
        <div class="navbar-dropdown is-boxed">
          <%= link_to "レシピ投稿", new_recipe_path, class: "navbar-item" %>
        </div>
      </div>
      <div class="navbar-item has-dropdown is-hoverable ml-2 mr-6 is-hidden-touch">
        <div class="navbar-link is-arrowless is-hidden-touch">
          <figure class="image is-24x24">
            <%= image_tag current_user.user_image.url(:icon), class: "is-rounded" %>
          </figure>
        </div>
        <div class="navbar-dropdown is-boxed is-right">
          <%= link_to "マイページ", user_path(current_user), class: "navbar-item" %>
          <%= link_to "アカウント編集", edit_user_registration_path, class: "navbar-item" %>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "navbar-item" %>
        </div>
      </div>
    </div>
  </div>
</nav>
