<!DOCTYPE html>
<html lang="ja" class="has-background-white-bis">
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/3772f19f3b.js" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <% if Rails.env.production? %>
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-G8RJDS6YNS"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-G8RJDS6YNS');

        if (<%= raw current_user.to_json(only: [:id]) %>) {
          gtag('set', {'user_id': <%= raw current_user.to_json(only: [:id]) %>.id});
        }
      </script>
    <% end %>
  </head>

  <body class="has-navbar-fixed-top">
    <% if flash[:notice] %>
      <div class="notification is-info is-light">
        <button class="delete"></button>
        <p><%= notice %></p>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="notification is-danger is-light">
        <button class="delete"></button>
        <p><%= alert %></p>
      </div>
    <% end %>

    <%= render 'layouts/header' %>
    <main>
      <%= yield %>
    </main>
    <%= render 'layouts/footer' unless controller.action_name == 'home' %>

    <% unless user_signed_in? %>
      <div class="modal" id="sign-in-modal">
        <div class="modal-background"></div>
        <div class="modal-content">
          <div class="card">
            <div class="card-content">
              <p class="title is-1 has-text-centered mb-6 recipegram">Recipegram</p>
              <p class="has-text-centered mb-5">ログインまたはアカウントを作成してください。</p>
              <%= link_to 'ゲストユーザーとしてログイン', users_guest_sign_in_path, method: :post, class: 'button is-fullwidth is-rounded is-info mb-5' %>
              <%= link_to 'ログイン', new_user_session_path, class: 'button is-fullwidth is-rounded is-info is-light mb-5' %>
              <%= link_to '新規登録', new_user_registration_path, class: 'button is-fullwidth is-rounded is-white' %>
            </div>
          </div>
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
      </div>
    <% end %>
  </body>
</html>
